<template>
  <reporte-individual-form :edit="false"></reporte-individual-form>
</template>

<script>
import ReporteIndividualForm from "src/components/Tutores/ReporteIndividualForm.vue";
export default {
  components: { ReporteIndividualForm },
};
</script>

<style></style>
