<template>
  <tabla-admins></tabla-admins>
</template>

<script>
import TablaAdmins from "src/components/Admin/Administradores/TablaAdmins.vue";
export default {
  components: { TablaAdmins },
};
</script>

<style></style>
