<template>
  <alumnos-table :tutorId="tutorId" type="Tutorados" :activos="false" />
</template>

<script>
import { defineComponent, computed } from "vue";
import AlumnosTable from "src/components/Tutores/AlumnosTable.vue";
import { useStore } from "vuex";
export default defineComponent({
  name: "TutoresAlumnosTutorados",
  components: { AlumnosTable },
  setup() {
    const store = useStore();
    const tutorId = computed(() => store.getters["tutores/tutorId"]);
    return {
      tutorId,
    };
  },
});
</script>
