<template>
  <tabla-tutorados :monitor_id="$route.params.id || null"></tabla-tutorados>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import TablaTutorados from "src/components/AlumnoMonitor/TablaTutorados.vue";
export default {
  components: { TablaTutorados },
  setup() {},
};
</script>
