<template>
  <div class="q-pa-md">
    <q-table
      v-if="reportes"
      :title="title"
      :rows="reportes"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right="props">
        <q-btn
          flat
          round
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        >
          <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
            >{{ props.inFullscreen ? "Reducir" : "Expandir" }}
          </q-tooltip>
        </q-btn>
      </template>

      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-pencil"
                :to="`/tutores/reportesP/editar/${props.row.id}`"
              />
              <q-tooltip> Editar Reporte </q-tooltip>
            </div>
            <div>
              <q-btn
                class="gt-md"
                :to="`/tutores/reportesP/${props.row.id}`"
                dense
                color="light-blue-10"
                icon="mdi-eye"
              />
              <q-tooltip> Ver Reporte </q-tooltip>
            </div>
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-content-save"
                @click="handleSavePDF(props.row)"
              />
              <q-tooltip> Guardar Pdf </q-tooltip>
            </div>
          </div>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.totalPages > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { formatDate } from "src/filters/date";
import { useQuasar } from "quasar";
import { errorConfig } from "src/constants/toast";

const columns = [
  { name: "carrera", align: "left", label: "Carrera", field: "carrera" },
  {
    name: "cuatrimestre",
    align: "left",
    label: "Cuatrimestre",
    field: "cuatrimestre",
  },
  { name: "grupo", align: "left", label: "Grupo", field: "grupo" },
  {
    name: "alumnos_inicio",
    align: "left",
    label: "Numero de Alumnos",
    field: "alumnos_inicio",
  },
  {
    name: "fechaC",
    align: "left",
    label: "Fecha de creación",
    field: "created_at",
    format: (val) => formatDate(val),
  },
  {
    name: "acciones",
    required: true,
    label: "Acciones",
    align: "left",
    field: (row) => row.name,
    format: (val) => `${val}`,
  },
];

export default defineComponent({
  name: "ReportesParcialesTable",
  props: {
    tipo_reporte: { type: Number, required: true }, // Acepta 1,2,3
    tutor_id: { type: Number, required: false },
  },
  setup(props) {
    // * Declarations
    const store = useStore();
    const $q = useQuasar();
    /*************************/
    const loading = ref(true);
    //* Initial Fetch
    onMounted(async () => {
      if (props.tutor_id) {
        loading.value = true;
        await store.dispatch("tutores/getReportesParcialesAdmin", {
          id: props.tutor_id,
          tipo: props.tipo_reporte,
        });
        loading.value = false;
      } else {
        loading.value = true;
        await store.dispatch(
          "tutores/getReportesParciales",
          props.tipo_reporte
        );
        loading.value = false;
      }
    });
    //* Getters
    const reportes = computed(() => store.getters["tutores/reportesP"]);
    const pagination = computed(() => store.getters["tutores/paginationP"]);
    const title = computed(() => {
      if (props.tipo_reporte == 1) {
        return "Reportes del Primer Parcial";
      }
      if (props.tipo_reporte == 2) {
        return "Reportes del Segundo Parcial";
      }
      if (props.tipo_reporte == 3) {
        return "Reportes Finales";
      }
    });
    //* Table Logic
    const handleChangePagination = async (direction) => {
      loading.value = true;
      await store.dispatch("general/changePagination", {
        direction: direction,
        module: "tutores",
        collection: "reportesP",
        commit: "SET_REPORTESP_DATA",
      });
      loading.value = false;
    };
    /*************************/
    //* PDF
    const savePDF = (reporte) =>
      store.dispatch("tutores/printReporteParcial", reporte);
    const handleSavePDF = async (reporte) => {
      $q.loading.show();
      const res = await savePDF(reporte);
      $q.loading.hide();
      if (!res) {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    const viewItem = (item) => console.log(item);
    return {
      loading,
      title,
      columns,
      reportes,
      pagination,
      handleChangePagination,
      handleSavePDF,
      viewItem,
    };
  },
});
</script>
