<template>
  <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
    <q-card-section>
      <div>
        <p class="q-ml-md q-mt-lg text-regular">
          REPORTE 2DO PARCIAL DEL CUATRIMESTRE
        </p>
      </div>
      <div>
        <p class="q-ml-md q-mt-lg q-mb-md text-weight-regular">
          Datos generales
        </p>
      </div>

      <div class="row">
        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="tutorPerfil.nombreCompleto"
              label="Jonathan Jimenez Perez"
              disable
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              type="number"
              class="full-width"
              v-model.number="reporte.alumnos_inicio"
              :rules="[
                (val) => (val && val > 0) || 'Escriba la cantidad de alumnos',
              ]"
              label="Número  de alumnos*"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-select
              dense
              filled
              class="full-width"
              :emit-value="true"
              :map-options="true"
              :option-value="(carrera) => (carrera == null ? null : carrera.id)"
              :option-label="
                (carrera) => (carrera == null ? 'Null value' : carrera.carrera)
              "
              v-model="reporte.carrera_id"
              :options="carreras"
              label="Carrera*"
              :rules="[
                (val) =>
                  val || 'Debes confirmar la carrera antes de actualizar',
              ]"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-select
              dense
              filled
              class="full-width"
              v-model="reporte.cuatrimestre"
              :rules="[(val) => val != null || 'Seleccione el cuatrimestre']"
              label="Cuatrimestre*"
              :options="cuatrimestres"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="reporte.grupo"
              :rules="[(val) => (val && val.length > 0) || 'Escriba el grupo']"
              label="Grupo*"
            />
          </q-item>
        </div>
      </div>
      <alumnos-reprobados-form
        :alumnos_reprobados="reporte.alumnos_reprobados"
        @alumnoAdded="addAlumnoReprobado"
        @alumnoRemoved="removeAlumnoReprobado"
      ></alumnos-reprobados-form>
      <div>
        <p>Observaciones</p>
        <q-editor
          :toolbar="[]"
          filled
          placeholder="ej. Este cuatrimestre son menos los reporbados en algebra."
          v-model="reporte.observaciones"
          min-height="6rem"
        />
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div class="row justify-end q-mr-sm">
        <div class="q-pa-sm q-gutter-sm">
          <q-btn
            color="secondary"
            icon="mdi-content-save"
            :label="reporte_data ? 'Actualizar' : 'Crear'"
            :disable="!reporteValid"
            @click="reporte_data ? handleUpdateReporte() : handleSaveReporte()"
          />
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import AlumnosReprobadosForm from "./components/AlumnosReprobadosForm.vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
import { CUATRIMESTRES } from "src/constants/selects";

export default {
  components: { AlumnosReprobadosForm },
  props: {
    reporte_data: {
      type: Object,
    },
  },
  setup(props) {
    //* DECLARATIONS
    const store = useStore();
    const $q = useQuasar();
    //* DATA
    const reporte = ref({
      alumnos_inicio: null,
      carrera_id: null,
      cuatrimestre: null,
      grupo: null,
      tutor_id: null,
      tipo: 2,
      alumnos_reprobados: [],
      observaciones: "",
    });
    const cuatrimestres = CUATRIMESTRES;
    //*MOUNTED
    onMounted(async () => {
      await store.dispatch("general/getCarreras");
      reporte.value.tutor_id = tutorPerfil.value.id;
      if (props.reporte_data) {
        reporte.value = props.reporte_data;
      }
    });

    //*computed
    const tutorPerfil = computed(() => store.getters["auth/TutorProfile"]);
    const carreras = computed(() => store.getters["general/carreras"]);
    const reporteValid = computed(() => {
      return (
        reporte.value.alumnos_inicio != null &&
        reporte.value.carrera_id != null &&
        reporte.value.cuatrimestre != null &&
        reporte.value.grupo != null
      );
    });
    //* METHODS
    function addAlumnoReprobado(alumno) {
      if (alumno.nombre_completo == "") return;
      reporte.value.alumnos_reprobados.push(alumno);
    }
    function removeAlumnoReprobado(alumno) {
      reporte.value.alumnos_reprobados =
        reporte.value.alumnos_reprobados.filter((x) => x.id != alumno.id);
    }
    const createReporte = () =>
      store.dispatch("tutores/crearReporteParcial", reporte.value);
    async function handleSaveReporte() {
      $q.loading.show();
      const res = await createReporte();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Reporte Creado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    const updateReporte = () =>
      store.dispatch("tutores/updateReporteParcial", reporte.value);
    async function handleUpdateReporte() {
      $q.loading.show();
      const res = await updateReporte();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Reporte Actualizado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    return {
      reporte,
      cuatrimestres,
      carreras,
      reporteValid,
      tutorPerfil,
      addAlumnoReprobado,
      removeAlumnoReprobado,
      handleSaveReporte,
      handleUpdateReporte,
    };
  },
};
</script>
