<template>
  <div class="q-pa-md">
    <q-table
      v-if="reportes"
      title="Tutorías Individuales"
      :rows="reportes"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <div>
              <q-btn
                @click="viewItem(props.row)"
                dense
                color="light-blue-10"
                icon="mdi-eye"
                :to="`/reportesI/${props.row.id}`"
              />
              <q-tooltip> Ver Reporte </q-tooltip>
            </div>
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-content-save"
                @click="handleSavePDF(props.row)"
              />
              <q-tooltip> Guardar Pdf </q-tooltip>
            </div>
          </div>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
  </div>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { formatDate } from "src/filters/date";
import { useQuasar } from "quasar";
import { errorConfig } from "src/constants/toast";
const columns = [
  {
    name: "tutor",
    required: true,
    label: "Tutor",
    align: "left",
    field: (row) =>
      `${row.tutor.nombres} ${row.tutor.apellidoP} ${row.tutor.apellidoM}`,
    format: (val) => `${val}`,
    // sortable: true,
  },
  {
    name: "alumno",
    align: "left",
    label: "Alumno",
    field: "alumno",
    sortable: true,
  },
  {
    name: "cuatrimestre",
    align: "left",
    label: "Cuatrimestre",
    field: "cuatrimestre",
    sortable: true,
  },
  {
    name: "tipoT",
    align: "left",
    label: "Tipo de Tutoría",
    field: "tipo_tutoria",
    sortable: true,
  },
  {
    name: "fechaR",
    align: "left",
    label: "Fecha Realizada",
    field: "fecha",
    format: (val) => formatDate(val),
    sortable: true,
  },
  {
    name: "acciones",
    required: true,
    label: "Acciones",
    align: "left",
    field: (row) => row.name,
    format: (val) => `${val}`,
    sortable: true,
  },
];

export default {
  setup() {
    // * Declarations
    const store = useStore();
    const $q = useQuasar();
    /*************************/

    const rows = ref([]);
    const filter = ref("");
    const loading = ref(true);
    //* Initial Fetch

    onMounted(async () => {
      loading.value = true;
      await store.dispatch("admin/getReportesI");
      loading.value = false;
    });

    //* Getters
    const reportes = computed(() => store.getters["admin/reportesI"]);
    const pagination = computed(() => store.getters["admin/paginationI"]);
    /*************************/

    //* Table Logic

    async function handleChangePagination(direction) {
      loading.value = true;
      await store.dispatch("admin/changePaginationI", direction);
      loading.value = false;
    }
    function viewItem(data) {
      // console.log(data);
    }

    //* PDF
    const savePDF = (reporte) =>
      store.dispatch("tutores/printReporte", reporte);
    const handleSavePDF = async (reporte) => {
      $q.loading.show();
      const res = await savePDF(reporte);
      $q.loading.hide();
      if (!res) {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    /*************************/

    const test = (i) => console.log(i);
    return {
      filter,
      loading,
      pagination,
      columns,
      rows,
      viewItem,
      reportes,
      test,
      handleChangePagination,
      handleSavePDF,
    };
  },
};
</script>
