<template>
  <div>
    <div>
      <p class="q-ml-md q-mt-sm q-mb-sm text-weight-regular">
        Alumnos que no aprobaron
      </p>
    </div>

    <div class="q-pa-md">
      <q-card>
        <q-table
          :rows="alumnos_reprobados"
          :columns="columnsReprobados"
          hide-bottom
        >
          <template v-slot:top>
            <q-btn
              @click="modal_reprobado = true"
              color="cyan-7"
              label="Agregar"
              class="q-mr-sm q-mt-md"
            />
          </template>

          <template v-slot:body-cell-acciones="props">
            <q-td :props="props">
              <div class="q-gutter-sm">
                <q-btn
                  dense
                  color="red-8"
                  icon="mdi-delete"
                  @click="
                    typeof props.row.id == 'string'
                      ? removeAlumnoReprobado(props.row)
                      : handleRemoveAlumno(props.row)
                  "
                />
              </div>
            </q-td>
          </template>
        </q-table>
      </q-card>

      <q-dialog v-model="modal_reprobado">
        <q-card style="width: 600px; max-width: 60vw">
          <q-form class="q-gutter-md" @submit.prevent="addAlumnoReprobado()">
            <q-card-section>
              <div class="text-h6">
                Alumno Reprobado
                <q-btn
                  round
                  flat
                  dense
                  icon="close"
                  class="float-right"
                  color="grey-8"
                  v-close-popup
                ></q-btn>
              </div>
            </q-card-section>
            <q-separator inset></q-separator>
            <q-card-section class="q-pt-none">
              <q-list>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Nombre Completo</q-item-label>
                    <q-input
                      dense
                      outlined
                      :rules="[
                        (val) =>
                          val.length > 0 ||
                          'Debes escribir el nombre del alumno',
                      ]"
                      v-model="alumno_reprobado.nombre_completo"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs"
                      >Materia Reprobada</q-item-label
                    >
                    <q-input
                      outlined
                      bottom-slots
                      v-model="materia_reprobada.nombre"
                      dense
                      rules="[
                        (val) =>
                          val.length > 0 ||
                          'Debes escribir el nombre de la Materia',
                      ]"
                    >
                      <template v-slot:append>
                        <q-btn
                          round
                          dense
                          flat
                          icon="add"
                          @click="addMateriaToAlumnoReprobado()"
                        />
                      </template>
                      <template v-slot:hint>
                        Escriba la materia y después presione el icono
                      </template>
                    </q-input>
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <p>Materias Reprobadas</p>
                    <table class="materias-table">
                      <tr>
                        <th>Materia</th>
                        <th>Acciones</th>
                      </tr>
                      <tr
                        v-for="(
                          materia, index
                        ) in alumno_reprobado.materias_reprobadas"
                        :key="index"
                      >
                        <td>{{ materia.nombre }} {{ index }}</td>
                        <td>
                          <q-btn
                            @click="removeMateria(index)"
                            round
                            dense
                            flat
                            color="red-8"
                            icon="mdi-delete"
                          />
                        </td>
                      </tr>
                    </table>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>

            <q-card-actions align="right" class="text-teal">
              <q-btn
                label="Guardar"
                type="submit"
                color="primary"
                :disable="!reprobadoValid"
                v-close-popup
              />
            </q-card-actions>
          </q-form>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { ref, computed } from "vue";
import { v4 as uuidv4 } from "uuid";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";

const columnsReprobados = [
  {
    name: "nombre_completo",
    required: true,
    label: "Nombre completo del alumno",
    align: "left",
    field: (row) => row.nombre_completo,
    sortable: true,
  },
  {
    name: "materia",
    align: "left",
    label: "Asignaturas reprobadas",
    format: (val) =>
      val
        .map((materia) => {
          return materia.nombre;
        })
        .join(", "),
    field: "materias_reprobadas",
  },
  {
    name: "acciones",
    align: "left",
    label: "Accciones",
    field: "acciones",
    field: (row) => row.name,
    format: (val) => `${val}`,
    sortable: true,
  },
];
export default {
  props: {
    alumnos_reprobados: {
      type: Array,
    },
  },
  emits: ["alumnoAdded", "alumnoRemoved"],
  setup(props, { emit }) {
    const store = useStore();
    const $q = useQuasar();
    const modal_reprobado = ref(false);
    const alumno_reprobado = ref({
      id: uuidv4(),
      nombre_completo: "",
      materias_reprobadas: [],
    });
    const materia_reprobada = ref({ id: uuidv4(), nombre: "" });

    //Computed
    const reprobadoValid = computed(() => {
      return (
        alumno_reprobado.value.nombre_completo != "" &&
        alumno_reprobado.value.materias_reprobadas.length > 0
      );
    });
    //Methods

    function removeAlumnoReprobado(alumno) {
      emit("alumnoRemoved", alumno);
    }
    function addAlumnoReprobado() {
      emit("alumnoAdded", alumno_reprobado.value);
      alumno_reprobado.value = {
        id: uuidv4(),
        nombre_completo: "",
        materias_reprobadas: [],
      };
      modal_reprobado.value = false;
    }
    function addMateriaToAlumnoReprobado() {
      if (materia_reprobada.value == null) return;
      alumno_reprobado.value.materias_reprobadas.push(materia_reprobada.value);
      console.log(alumno_reprobado.value);
      materia_reprobada.value = { id: uuidv4(), nombre: "" };
    }
    function removeMateria(index) {
      alumno_reprobado.value.materias_reprobadas.splice(index, 1);
    }
    //*Remove Alumno from database
    const removeAlumno = (id) =>
      store.dispatch("tutores/removeAlumnoReprobadoFromReporte", id);

    async function handleRemoveAlumno(alumno) {
      $q.loading.show();
      const res = await removeAlumno(alumno.id);
      $q.loading.hide();
      if (res) {
        emit("alumnoRemoved", alumno);
        $q.notify({ ...successConfig, message: "Alumno Eliminado de Reporte" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    return {
      columnsReprobados,
      modal_reprobado,
      removeAlumnoReprobado,
      addAlumnoReprobado,
      addMateriaToAlumnoReprobado,
      removeMateria,
      alumno_reprobado,
      materia_reprobada,
      reprobadoValid,
      handleRemoveAlumno,
    };
  },
};
</script>

<style></style>
