<template>
  <div>
    <div>
      <p class="q-ml-md q-mt-lg q-mb-sm text-weight-regular">
        Alumnos que laboran
      </p>
    </div>

    <div class="q-pa-md">
      <q-card>
        <q-table :rows="alumnos_laboran" :columns="columnsLaboran" hide-bottom>
          <template v-slot:top-left>
            <q-btn
              @click="modal_laboran = true"
              color="cyan-7"
              label="Agregar"
              class="q-mr-sm q-mt-md"
            />
          </template>

          <template v-slot:body-cell-acciones="props">
            <q-td :props="props">
              <div class="q-gutter-sm">
                <q-btn
                  dense
                  color="red-8"
                  icon="mdi-delete"
                  @click="
                    typeof props.row.id == 'string'
                      ? removeAlumnoLabora(props.row)
                      : handleRemoveAlumno(props.row)
                  "
                />
              </div>
            </q-td>
          </template>
        </q-table>
      </q-card>

      <q-dialog v-model="modal_laboran">
        <q-card style="width: 600px; max-width: 60vw">
          <q-form class="q-gutter-md" @submit.prevent="addAlumnoLabora()">
            <q-card-section>
              <div class="text-h6">
                Alumno que Labora
                <q-btn
                  round
                  flat
                  dense
                  icon="close"
                  class="float-right"
                  color="grey-8"
                  v-close-popup
                ></q-btn>
              </div>
            </q-card-section>
            <q-separator inset></q-separator>
            <q-card-section class="q-pt-none">
              <q-list>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Nombre Completo</q-item-label>
                    <q-input
                      :rules="[
                        (val) =>
                          val.length > 0 ||
                          'Debes escribir el nombre del alumno',
                      ]"
                      dense
                      outlined
                      v-model="alumno_labora.nombre_completo"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Tipo de Trabajo</q-item-label>
                    <q-select
                      dense
                      outlined
                      v-model="alumno_labora.tipo_trabajo"
                      :options="tipos_trabajo"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs"
                      >Nombre de la Empresa</q-item-label
                    >
                    <q-input
                      :rules="[
                        (val) =>
                          val.length > 0 ||
                          'Debes escribir el nombre de la empresa donde labora el alumno',
                      ]"
                      dense
                      outlined
                      v-model="alumno_labora.empresa"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Días Trabajados</q-item-label>
                    <q-input
                      :rules="[
                        (val) =>
                          val.length > 0 ||
                          'Debes escribir los dias que labora el alumno',
                      ]"
                      dense
                      outlined
                      v-model="alumno_labora.dias_laborales"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Horario Laboral</q-item-label>
                    <q-input
                      :rules="[
                        (val) =>
                          val.length > 0 ||
                          'Debes escribir el horario laboral del alumno',
                      ]"
                      dense
                      outlined
                      v-model="alumno_labora.horario"
                      label="0:00 a.m - 0.00 p.m"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Nombre del Jefe</q-item-label>
                    <q-input dense outlined v-model="alumno_labora.jefe" />
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>

            <q-card-actions align="right" class="text-teal">
              <q-btn
                label="Guardar"
                type="submit"
                :disable="!laboraValid"
                color="primary"
                v-close-popup
              />
            </q-card-actions>
          </q-form>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { ref, computed } from "vue";
import { v4 as uuidv4 } from "uuid";
import { TIPOS_TRABAJO } from "src/constants/selects";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
const columnsLaboran = [
  {
    name: "nombre_completo",
    required: true,
    label: "Nombre completo del alumno",
    align: "left",
    field: (row) => row.nombre_completo,
    sortable: true,
  },
  {
    name: "tipo_trabajo",
    align: "left",
    label: "Tipo de trabajo",
    field: "tipo_trabajo",
  },
  {
    name: "empresa",
    align: "left",
    label: "Nombre de la empresa",
    field: "empresa",
  },
  {
    name: "dias_laborales",
    align: "left",
    label: "Días laborados",
    field: "dias_laborales",
  },
  {
    name: "horario",
    align: "left",
    label: " Horario laboral",
    field: "horario",
  },
  {
    name: "jefe",
    align: "left",
    label: " Nombre del jefe",
    field: "jefe",
  },
  {
    name: "acciones",
    align: "left",
    label: "Accciones",
    field: "acciones",
    field: (row) => row.name,
    format: (val) => `${val}`,
    sortable: true,
  },
];
export default {
  props: {
    alumnos_laboran: {
      type: Array,
    },
  },
  emits: ["alumnoAdded", "alumnoRemoved"],
  setup(props, { emit }) {
    const store = useStore();
    const $q = useQuasar();
    const tipos_trabajo = TIPOS_TRABAJO;
    const modal_laboran = ref(false);
    const alumno_labora = ref({
      id: uuidv4(),
      nombre_completo: "",
      tipo_trabajo: "",
      empresa: "",
      dias_laborales: "",
      horario: "",
      jefe: "",
    });

    //computed
    const laboraValid = computed(() => {
      return (
        alumno_labora.value.nombre_completo != "" &&
        alumno_labora.value.tipo_trabajo != "" &&
        alumno_labora.value.empresa != "" &&
        alumno_labora.value.dias_laborales != "" &&
        alumno_labora.value.jefe != ""
      );
    });

    //functions
    function removeAlumnoLabora(alumno) {
      emit("alumnoRemoved", alumno);
    }

    function addAlumnoLabora() {
      emit("alumnoAdded", alumno_labora.value);
      alumno_labora.value = {
        id: uuidv4(),
        nombre_completo: "",
        tipo_trabajo: "",
        empresa: "",
        dias_laborales: "",
        horario: "",
        jefe: "",
      };
      modal_laboran.value = false;
    }
    //*Remove Alumno from database
    const removeAlumno = (id) =>
      store.dispatch("tutores/removeAlumnoLaboraFromReporte", id);

    async function handleRemoveAlumno(alumno) {
      $q.loading.show();
      const res = await removeAlumno(alumno.id);
      $q.loading.hide();
      if (res) {
        emit("alumnoRemoved", alumno);
        $q.notify({ ...successConfig, message: "Alumno Eliminado de Reporte" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    return {
      alumno_labora,
      columnsLaboran,
      tipos_trabajo,
      modal_laboran,
      laboraValid,
      removeAlumnoLabora,
      addAlumnoLabora,
      handleRemoveAlumno,
    };
  },
};
</script>

<style></style>
