<template>
  <div>
    <div>
      <p class="q-ml-md q-mt-lg q-mb-sm text-weight-regular">
        Alumnos que se dieron de baja o dejaron de asistir
      </p>
    </div>

    <div class="q-pa-md">
      <q-card>
        <q-table :rows="alumnos_baja" :columns="columns_baja" hide-bottom>
          <template v-slot:top-left>
            <q-btn
              @click="modal_baja = true"
              color="cyan-7"
              label="Agregar"
              class="q-mr-sm q-mt-md"
            />
          </template>

          <template v-slot:body-cell-acciones="props">
            <q-td :props="props">
              <div class="q-gutter-sm">
                <q-btn
                  dense
                  color="red-8"
                  icon="mdi-delete"
                  @click="
                    typeof props.row.id == 'string'
                      ? removeAlumnoBaja(props.row)
                      : handleRemoveAlumno(props.row)
                  "
                />
              </div>
            </q-td>
          </template>
        </q-table>
      </q-card>

      <q-dialog v-model="modal_baja">
        <q-card style="width: 600px; max-width: 60vw">
          <q-form class="q-gutter-md" @submit.prevent="addAlumnoBaja()">
            <q-card-section>
              <div class="text-h6">
                Alumno (Baja / Dejo de Asistir)
                <q-btn
                  round
                  flat
                  dense
                  icon="close"
                  class="float-right"
                  color="grey-8"
                  v-close-popup
                ></q-btn>
              </div>
            </q-card-section>
            <q-separator inset></q-separator>
            <q-card-section class="q-pt-none">
              <q-list>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Nombre Completo</q-item-label>
                    <q-input
                      dense
                      outlined
                      v-model="alumno_baja.nombre_completo"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Dejo de asistir</q-item-label>
                    <q-select
                      dense
                      outlined
                      class="full-width"
                      :emit-value="true"
                      :map-options="true"
                      :option-value="
                        (opcion) => (opcion == null ? null : opcion.value)
                      "
                      :option-label="
                        (opcion) =>
                          opcion == null ? 'Null value' : opcion.text
                      "
                      v-model="alumno_baja.dejo_de_asistir"
                      :options="dejo_de_asistir"
                      :rules="[
                        (val) =>
                          val || 'Debes confirmar si el alumno dejo de asistir',
                      ]"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Tipo de baja</q-item-label>
                    <q-select
                      dense
                      outlined
                      v-model="alumno_baja.tipo_baja"
                      :options="tipos_baja"
                    />
                  </q-item-section>
                </q-item>
                <q-item>
                  <q-item-section>
                    <q-item-label class="q-pb-xs">Motivos</q-item-label>
                    <q-editor
                      filled
                      v-model="alumno_baja.motivo"
                      min-height="4rem"
                      :toolbar="[]"
                    />
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>

            <q-card-actions align="right" class="text-teal">
              <q-btn
                label="Guardar"
                type="submit"
                :disable="!bajaValid"
                color="primary"
                v-close-popup
              />
            </q-card-actions>
          </q-form>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import { ref, computed } from "vue";
import { v4 as uuidv4 } from "uuid";
import { DEJO_DE_ASISTIR, TIPOS_BAJA } from "src/constants/selects";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
const columns_baja = [
  {
    name: "name",
    required: true,
    label: "Nombre completo del alumno",
    align: "left",
    field: (row) => row.nombre_completo,
    format: (val) => `${val}`,
    sortable: true,
  },
  {
    name: "asistencia",
    align: "left",
    label: "Dejo de asistir",
    format: (val) => (val ? "Si" : "No"),
    field: "dejo_de_asistir",
  },
  {
    name: "tipoBaja",
    align: "left",
    label: "Tipo de baja",
    field: "tipo_baja",
  },
  { name: "motivo", align: "left", label: "Motivo", field: "motivo" },

  {
    name: "acciones",
    align: "left",
    label: "Accciones",
    field: "acciones",
    field: (row) => row.name,
    format: (val) => `${val}`,
    sortable: true,
  },
];

export default {
  props: {
    alumnos_baja: {
      type: Array,
    },
  },
  emits: ["alumnoAdded", "alumnoRemoved"],
  setup(props, { emit }) {
    const store = useStore();
    const $q = useQuasar();
    const modal_baja = ref(false);
    const alumno_baja = ref({
      id: uuidv4(),
      nombre_completo: "",
      dejo_de_asistir: null,
      tipo_baja: "",
      motivo: "",
    });
    const dejo_de_asistir = DEJO_DE_ASISTIR;
    const tipos_baja = TIPOS_BAJA;
    //Computed
    const bajaValid = computed(() => {
      return (
        alumno_baja.value.nombre_completo != "" &&
        alumno_baja.value.dejo_de_asistir != null &&
        alumno_baja.value.tipo_baja != "" &&
        alumno_baja.value.motivo != ""
      );
    });
    //Methods

    function removeAlumnoBaja(alumno) {
      emit("alumnoRemoved", alumno);
    }

    function addAlumnoBaja() {
      emit("alumnoAdded", alumno_baja.value);
      alumno_baja.value = {
        id: uuidv4(),
        nombre_completo: "",
        dejo_de_asistir: null,
        tipo_baja: "",
        motivo: "",
      };
      modal_baja.value = false;
    }
    //*Remove Alumno from database
    const removeAlumno = (id) =>
      store.dispatch("tutores/removeAlumnoBajaFromReporte", id);

    async function handleRemoveAlumno(alumno) {
      $q.loading.show();
      const res = await removeAlumno(alumno.id);
      $q.loading.hide();
      if (res) {
        emit("alumnoRemoved", alumno);
        $q.notify({ ...successConfig, message: "Alumno Eliminado de Reporte" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    return {
      dejo_de_asistir,
      tipos_baja,
      columns_baja,
      modal_baja,
      alumno_baja,
      removeAlumnoBaja,
      addAlumnoBaja,
      bajaValid,
      handleRemoveAlumno,
    };
  },
};
</script>

<style></style>
