<template>
  <tutorado-form :edit="true" :tutoradoId="$route.params.id"></tutorado-form>
</template>

<script>
import TutoradoForm from "src/components/AlumnoTutorado/TutoradoForm.vue";
export default {
  components: { TutoradoForm },
  setup() {},
};
</script>

<style></style>
