<template>
  <q-form @submit.prevent="handleCreateTutor">
    <div>
      <p class="q-ml-md q-mt-lg text-subtitle1">Datos Generales del Tutor</p>
    </div>
    <div class="row">
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.nombres"
            :rules="[(val) => (val && val.length > 0) || 'Escriba sus nombres']"
            label="Nombres*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.apellidoP"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido paterno',
            ]"
            label="Apellido Paterno*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.apellidoM"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido materno',
            ]"
            label="Apellido Materno*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-select
            dense
            filled
            class="full-width"
            :emit-value="true"
            :map-options="true"
            :option-value="(carrera) => (carrera === null ? null : carrera.id)"
            :option-label="
              (carrera) => (carrera === null ? 'Null value' : carrera.carrera)
            "
            v-model="tutor.carrera_id"
            :options="carreras"
            label="Carrera"
            :rules="[(val) => val || 'Escoja una carrera']"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.horario"
            :rules="[(val) => (val && val.length > 0) || 'Rellene este campo']"
            label="Horario*"
          />
        </q-item>
      </div>

      <div class="col-12">
        <div class="q-pa-md q-gutter-sm">
          <q-editor
            height="90px"
            placeholder="Descripción*"
            v-model="tutor.descripcion"
            min-height="5rem"
          />
        </div>
      </div>
    </div>

    <div>
      <p class="q-ml-md q-mt-lg text-subtitle1">Datos de la Cuenta</p>
    </div>

    <div class="row">
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.nombreUsuario"
            :rules="[(val) => (val && val.length > 0) || 'Escriba su usuario']"
            label="Nombre de Usuario*"
          />
        </q-item>
      </div>

      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            type="email"
            v-model="tutor.email"
            label="Correo Electrónico*"
          />
        </q-item>
      </div>

      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.password"
            :type="isPwd ? 'password' : 'text'"
            :rules="[
              (val) =>
                (val && val.length > 7) ||
                'La contraseña debe de ser de 7 caracteres',
            ]"
            label="Contraseña*"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </q-item>
      </div>
    </div>
    <div class="row justify-end q-mt-md">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          color="secondary"
          icon="mdi-content-save"
          label="Aceptar"
          type="submit"
        />
      </div>
    </div>
  </q-form>
</template>

<script>
import { onMounted, ref, reactive, computed } from "vue";
import { useStore } from "vuex";
// import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
export default {
  setup() {
    // * Declarations
    const store = useStore();
    // const router = useRouter();
    const $q = useQuasar();
    /*************************** */
    //* Variables
    const tutor = reactive({
      nombreUsuario: "",
      email: "",
      password: "",
      nombres: "",
      apellidoP: "",
      apellidoM: "",
      carrera_id: "",
      horario: "",
      descripcion: "",
    });

    onMounted(async () => {
      await store.dispatch("general/getCarreras");
    });

    // * Getters
    const carreras = computed(() => store.getters["general/carreras"]);
    /****************************************************** */

    const createTutor = () => store.dispatch("admin/createTutor", tutor);
    async function handleCreateTutor() {
      $q.loading.show();
      const res = await createTutor();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Tutor Creado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    return {
      tutor,
      isPwd: ref(true),
      carreras,
      handleCreateTutor,
    };
  },
};
</script>

<style scoped></style>
