<template>
  <tutor-form
    :id="$route.params.id"
  ></tutor-form>
</template>
<script>
import TutorForm from "src/components/Tutores/TutorForm.vue";
import ResetPassword from "src/components/General/ResetPassword.vue";
import { ref } from "vue";
export default {
  components: { TutorForm},
};
</script>
