<template>
  <q-layout>
    <q-page-container>
      <div id="particles-login"></div>
      <q-page class="flex bg-image flex-center">
        <q-card
          v-bind:style="$q.screen.lt.sm ? { width: '80%' } : { width: '20%' }"
          style="background: #2b2b2b"
          class="fixed-center"
        >
          <q-card-section>
            <q-avatar size="103px" class="absolute-center shadow-10">
              <img src="~assets/img/TUTORIAS_UPB.png" />
            </q-avatar>
          </q-card-section>
          <q-card-section>
            <div class="text-center q-pt-lg">
              <div class="col text-h6 ellipsis">Iniciar Sesión</div>
            </div>
          </q-card-section>
          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input
                filled
                v-model="credentials.email"
                label="Correo Electrónico*"
                lazy-rules
                error-message="El correo y contraseña no coinciden o no se encuentran registrados"
                :error="!isValid"
              />

              <q-input
                type="password"
                filled
                v-model="credentials.password"
                label="Contraseña*"
                lazy-rules
                error-message="El correo y contraseña no coinciden o no se encuentran registrados"
                :error="!isValid"
              />

              <div class="row justify-end">
                <div>
                  <q-btn
                    label="Aceptar"
                    type="button"
                    color="primary"
                    @click="handleLogin"
                  />
                </div>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import { useStore } from "vuex";
import { onMounted, reactive, ref, computed } from "vue";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { errorConfig } from "src/constants/toast";
export default {
  setup() {
    //initiate varaibles
    const store = useStore();
    const router = useRouter();
    const $q = useQuasar();
    //Initiate Particle JS
    // const initiateParticles = () => {
    //   particlesJS.load("particles-login", "particles.json");
    // };
    // onMounted(initiateParticles);

    //login logic
    const credentials = reactive({ email: "", password: "" });
    const isValid = ref(true);
    const login = () => store.dispatch("auth/login", credentials);
    const handleLogin = async () => {
      $q.loading.show();
      const response = await login();
      // console.log(response, "clientside");
      $q.loading.hide();

      if (response != true) {
        // console.log(typeof response);
        if (typeof response == "string") {
          // $q.notify({ ...errorConfig, message: response });
          $q.notify({
            ...errorConfig,
            message: "Su usuario o contraseña son incorrectos",
          });
        } else {
          isValid.value = false;
        }
      }
    };

    //session validation
    const isLoggedIn = computed(
      () => store.getters["auth/userIsAuthenticated"]
    );
    onMounted(isLoggedIn ? router.push("/") : location.reload());
    return {
      // initiateParticles,
      credentials,
      isValid,
      handleLogin,
    };
  },
};
</script>

<style>
#particles-login {
  background: url("src/assets/img/portada.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: #092645; */
  /* filter: grayscale(0.84); */
  /* height: 100vh; */
  position: absolute;
  width: 100%;
  height: 100%;
}
</style>
