<template>
  <tabla-canalizaciones></tabla-canalizaciones>
</template>

<script>
import TablaCanalizaciones from "src/components/Admin/Canalizaciones/TablaCanalizaciones";
export default {
  components: {
    TablaCanalizaciones,
  },
};
</script>

<style></style>
