<template>
  <perfil-form></perfil-form>
</template>

<script>
import PerfilForm from "src/components/Tutores/PerfilForm.vue";
export default {
  components: {
    PerfilForm,
  },
};
</script>

<style></style>
