<template>
  <div class="q-pa-md">
    <q-table
      v-if="canalizaciones"
      title="Canalizaciones"
      :rows="canalizaciones"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right="props">
        <q-btn
          flat
          round
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        >
          <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
            >{{ props.inFullscreen ? "Reducir" : "Expandir" }}
          </q-tooltip>
        </q-btn>
      </template>

      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <!-- :to="`/tutores/reportesI/update/${props.row.id}`" -->
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-pencil"
                @click="openModal(props.row)"
              />
              <q-tooltip> Editar Reporte </q-tooltip>
            </div>
            <!-- <div>
              <q-btn class="gt-md" dense color="light-blue-10" icon="mdi-eye" />
              <q-tooltip> Ver Reporte </q-tooltip>
            </div> -->
          </div>
        </q-td>
      </template>
      <template v-slot:body-cell-canalizado="props">
        <q-td :props="props">
          <q-badge :color="props.row.psicologo_id ? 'green' : 'red'">
            {{ props.row.psicologo_id ? "Completo" : "Incompleto" }}
          </q-badge>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.totalPages > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { formatDate } from "src/filters/date";
import { useQuasar } from "quasar";
import { errorConfig } from "src/constants/toast";

const columns = [
  {
    name: "alumno",
    required: true,
    label: "Alumno",
    align: "left",
    field: (row) => row.alumno,
    format: (val) => `${val}`,
    // sortable: true,
  },

  {
    name: "cuatrimestre",
    align: "left",
    label: "Cuatrimestre",
    field: "cuatrimestre",
    sortable: true,
  },
  {
    name: "carrera",
    align: "left",
    label: "Carrera",
    field: "carrera",
    sortable: true,
  },
  {
    name: "fecha",
    align: "left",
    label: "Fecha",
    field: "fecha",
    sortable: true,
    format: (val) => formatDate(val),
  },
];
export default defineComponent({
  name: "CanalizacionesTable",
  components: {},
  setup(props) {
    const store = useStore();
    const $q = useQuasar();
    const loading = ref(false);
    const canalizacion_modal = ref(false);
    const reporte_id = ref(0);
    onMounted(async () => {
      loading.value = true;
      await store.dispatch("psicologos/getCanalizaciones");
      loading.value = false;
    });
    //* Getters
    const canalizaciones = computed(
      () => store.getters["psicologos/canalizaciones"]
    );
    const pagination = computed(() => store.getters["psicologos/paginationC"]);

    const handleChangePagination = async (direction) => {
      loading.value = true;
      await store.dispatch("general/changePagination", {
        direction: direction,
        module: "psicologos",
        collection: "canalizaciones",
        commit: "SET_CANALIZACIONES",
      });
      loading.value = false;
    };
    const openModal = (row) => {
      reporte_id.value = row.id;
      canalizacion_modal.value = true;
    };
    const canalizado_completo = () => {
      canalizacion_modal.value = false;
      reporte_id.value = 0;
    };
    return {
      loading,
      columns,
      canalizaciones,
      pagination,
      handleChangePagination,
      openModal,
      canalizacion_modal,
      reporte_id,
      canalizado_completo,
    };
  },
});
</script>
