<template>
  <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
    <q-card-section>
      <div>
        <p class="q-mt-lg q-ml-md text-center text-subtitle1">
          Formato de entrevista
        </p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div>
        <p class="q-ml-md q-mt-xl q-mb-sm text-weight-regular text-center">
          Haz click sobre el siguiente boton para descargar el formato:
        </p>
      </div>
      <q-card-section>
        <div class="row justify-center q-mb-sm">
          <div class="q-pa-sm q-gutter-sm">
            <q-btn
              size="15px"
              class="q-px-md q-py-xs"
              color="secondary"
              icon="mdi-cloud-download"
              label="Descargar"
              type="a"
              :href="formato_url"
            />
          </div>
        </div>
      </q-card-section>

      <div>
        <div>
          <p class="q-ml-md q-mt-xl q-mb-sm text-weight-regular text-center">
            Sube el archivo rellenado con la información solicitada segun el
            formato brindado:
          </p>
        </div>

        <div class="row justify-center">
          <div class="q-mt-sm q-pa-sm q-gutter-sm q-mb-sm">
            <q-form @submit.prevent="uploadEntrevista()">
              <q-file
                outlined
                dense
                class="full-width"
                v-model="entrevista"
                label="Subir archivo"
                counter
              >
                <template v-slot:prepend>
                  <q-icon name="cloud_upload" />
                </template>
                <template v-slot:append>
                  <q-icon
                    name="close"
                    @click.stop="entrevista = null"
                    class="cursor-pointer"
                  />
                </template>
              </q-file>
              <q-card-section>
                <div class="row justify-center q-mb-sm">
                  <div class="q-pa-sm">
                    <q-btn
                      size="15px"
                      class="q-px-md q-py-xs"
                      color="primary"
                      type="submit"
                      :disable="entrevista == null"
                      label="Subir archivo"
                    />
                  </div>
                </div>
              </q-card-section>
            </q-form>
          </div>
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { ref, onMounted } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
export default {
  setup() {
    const store = useStore();
    const $q = useQuasar();
    const entrevista = ref(null);
    const formato_url = ref("");
    onMounted(async () => {
      formato_url.value = await store.dispatch(
        "psicologos/getFormatoEntrevistaURL"
      );
    });
    const uploadEntrevista = async () => {
      $q.loading.show();
      const res = await store.dispatch(
        "psicologos/uploadEntrevista",
        entrevista.value
      );
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Archivo Subido " });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    return {
      entrevista,
      uploadEntrevista,
      formato_url,
    };
  },
};
</script>
