<template>
  <div class="q-pa-md">
    <q-table
      v-if="entrevistas"
      title="Formatos Entrevista"
      :rows="entrevistas"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right="props">
        <q-btn
          flat
          round
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        >
          <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
            >{{ props.inFullscreen ? "Reducir" : "Expandir" }}
          </q-tooltip>
        </q-btn>
      </template>

      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <div>
              <q-btn
                class="gt-md"
                dense
                color="teal-9"
                icon="mdi-content-save"
                type="a"
                :href="props.row.link"
                target="__blank"
              />
              <q-tooltip> Descargar </q-tooltip>
            </div>
          </div>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.totalPages > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { formatDate } from "src/filters/date";
import { useQuasar } from "quasar";

const columns = [
  {
    name: "created_at",
    required: true,
    label: "fecha",
    align: "left",
    field: (row) => row.created_at,
    format: (val) => formatDate(val),
  },
  {
    name: "acciones",
    required: true,
    label: "Acciones",
    align: "left",
  },
];
export default defineComponent({
  name: "EntrevistasTable",
  setup() {
    const store = useStore();
    const $q = useQuasar();
    const loading = ref(false);
    onMounted(async () => {
      loading.value = true;
      await store.dispatch("psicologos/getEntrevistas");
      loading.value = false;
    });
    //* Getters
    const entrevistas = computed(() => store.getters["psicologos/entrevistas"]);
    const pagination = computed(() => store.getters["psicologos/paginationE"]);

    const handleChangePagination = async (direction) => {
      loading.value = true;
      await store.dispatch("general/changePagination", {
        direction: direction,
        module: "psicologos",
        collection: "entrevistas",
        commit: "SET_ENTREVISTAS",
      });
      loading.value = false;
    };
    return {
      loading,
      columns,
      entrevistas,
      pagination,
      handleChangePagination,
    };
  },
});
</script>
