<template>
  <q-form @submit.prevent="handleUpdatePsicologo()">
    <div>
      <p class="q-ml-md q-mt-lg text-subtitle1">
        Datos Generales del Psicólogo
      </p>
    </div>
    <div class="row">
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="psicologo.nombres"
            :rules="[(val) => (val && val.length > 0) || 'Escriba sus nombres']"
            label="Nombres*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="psicologo.apellidoP"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido paterno',
            ]"
            label="Apellido Paterno*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="psicologo.apellidoM"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido materno',
            ]"
            label="Apellido Materno*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="psicologo.email"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido materno',
            ]"
            label="Correo"
            disable
          />
        </q-item>
      </div>

      <div class="col-12">
        <div class="q-pa-md q-gutter-sm">
          <q-editor
            :toolbar="[]"
            height="90px"
            placeholder="Descripción*"
            v-model="psicologo.descripcion"
            min-height="5rem"
          />
        </div>
      </div>
    </div>
    <div class="row justify-end q-mt-md">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          color="secondary"
          icon="mdi-content-save"
          label="Aceptar"
          type="submit"
        />
        <q-btn
          color="orange-13"
          icon="mdi-account-key"
          label="Restablecer Contraseña"
          @click="activateModal"
        />
      </div>
    </div>
  </q-form>
  <q-dialog v-model="cardModal">
    <reset-password
      @resetDone="closeModal"
      :id="psicologo.user_id"
    ></reset-password>
  </q-dialog>
</template>

<script>
import ResetPassword from "src/components/General/ResetPassword.vue";

import { onMounted, reactive, computed, ref } from "vue";
import { useStore } from "vuex";
// import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
export default {
  components: { ResetPassword },
  props: {
    id: { required: true, type: Number },
  },
  setup(props) {
    // * Declarations
    const store = useStore();
    // const router = useRouter();
    const $q = useQuasar();
    /*************************** */
    //* Variables
    const psicologo = reactive({
      id: "",
      nombres: "",
      apellidoP: "",
      apellidoM: "",
      email: "",
      descripcion: "",
      user_id: "",
    });
    const cardModal = ref(false);
    onMounted(async () => {
      const psicologoData = await store.dispatch(
        "admin/getPsicologo",
        props.id
      );
      //* SET PROP VARIABLES TO LOCAL
      psicologo.id = psicologoData.id;
      psicologo.nombres = psicologoData.nombres;
      psicologo.apellidoP = psicologoData.apellidoP;
      psicologo.apellidoM = psicologoData.apellidoM;
      psicologo.descripcion = psicologoData.descripcion;
      psicologo.user_id = psicologoData.user_id;
      psicologo.email = psicologoData.email;
    });

    const updatePsicologo = () =>
      store.dispatch("admin/updatePsicologo", psicologo);
    async function handleUpdatePsicologo() {
      $q.loading.show();
      const res = await updatePsicologo();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Psicologo Actualizado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    const closeModal = () => {
      cardModal.value = false;
    };
    const activateModal = () => {
      cardModal.value = true;
    };
    return {
      psicologo,
      handleUpdatePsicologo,
      cardModal,
      closeModal,
      activateModal,
    };
  },
};
</script>

<style scoped></style>
