<template>
  <q-form
    v-if="!error"
    @submit.prevent="
      reporte_id ? handleUpdateReporteFinal() : handleCreateReporteFinal()
    "
  >
    <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
      <q-card-section>
        <div>
          <p class="q-mt-lg q-ml-md text-subtitle1">
            Reporte final de asesoría psicológica
          </p>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div>
          <p class="q-ml-md q-mt-lg q-mb-md text-weight-regular">
            Datos generales
          </p>
        </div>

        <div class="row">
          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="reporte.nombre_completo"
                :rules="[
                  (val) => (val && val.length > 0) || 'Escriba el nombre',
                ]"
                label="Nombre Completo *"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="reporte.edad"
                :rules="[(val) => (val && val != null) || 'Escriba la edad']"
                label="Edad *"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-select
                dense
                filled
                class="full-width"
                v-model="reporte.sexo"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Seleccione el tipo de sexo',
                ]"
                label="Sexo *"
                :options="SEXOS"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-select
                dense
                filled
                class="full-width"
                :emit-value="true"
                :map-options="true"
                :option-value="
                  (carrera) => (carrera === null ? null : carrera.id)
                "
                :option-label="
                  (carrera) =>
                    carrera === null ? 'Null value' : carrera.carrera
                "
                v-model="reporte.carrera_id"
                :options="carreras"
                label="Carrera*"
                :rules="[
                  (val) =>
                    val || 'Debes confirmar la carrera antes de actualizar',
                ]"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="reporte.ocupacion"
                :rules="[
                  (val) => (val && val.length > 0) || 'Escriba la ocupación',
                ]"
                label="Ocupación *"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="reporte.fecha_inicio"
                type="date"
                hint="Fecha de inicio"
                :rules="[
                  (val) => (val && val.length > 0) || 'Selccione la fecha',
                ]"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="reporte.numero_sesiones"
                :rules="[
                  (val) =>
                    (val && val != null) || 'Escriba el numero de sesiones',
                ]"
                label=" Número de sesiones *"
              />
            </q-item>
          </div>

          <div class="col-12 q-mb-sm">
            <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
              <p>Motivo de la Consulta :</p>
              <q-editor
                :toolbar="[]"
                filled
                v-model="reporte.motivo_consulta"
                min-height="6rem"
              />
            </div>
          </div>

          <div class="col-12 q-mb-sm">
            <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
              <p>Técnicas Psicológicas Utilizadas :</p>
              <q-editor
                :toolbar="[]"
                filled
                v-model="reporte.tecnicas"
                min-height="6rem"
              />
            </div>
          </div>

          <div class="col-12 q-mb-sm q-mt-sm">
            <div class="q-mr-md q-ml-md q-mb-md">
              <p>Observaciones Generales :</p>
              <q-editor
                :toolbar="[]"
                filled
                v-model="reporte.observaciones"
                min-height="6rem"
              />
            </div>
          </div>

          <div class="col-12 q-mb-sm">
            <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
              <p>Conclusiones :</p>
              <q-editor
                :toolbar="[]"
                filled
                v-model="reporte.conclusiones"
                min-height="6rem"
              />
            </div>
          </div>

          <div class="col-12">
            <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
              <p>Recomendaciones :</p>
              <q-editor
                :toolbar="[]"
                filled
                v-model="reporte.recomendaciones"
                min-height="6rem"
              />
            </div>
          </div>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="row justify-end q-mr-sm">
          <div class="q-pa-sm q-gutter-sm">
            <q-btn
              color="secondary"
              icon="mdi-content-save"
              :label="reporte_id ? 'Actualizar' : 'Guardar'"
              type="submit"
              :disable="!reporteValid"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-form>
  <div v-else>{{ error }}</div>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { SEXOS } from "src/constants/selects";
import { successConfig, errorConfig } from "src/constants/toast";
import { formatDateCustom } from "src/filters/date";

export default {
  props: {
    reporte_id: { type: Number },
  },
  setup(props) {
    const store = useStore();
    const $q = useQuasar();
    const reporte = ref({
      nombre_completo: null,
      edad: null,
      sexo: null,
      carrera_id: 0,
      ocupacion: null,
      fecha_inicio: null,
      numero_sesiones: null,
      motivo_consulta: null,
      tecnicas: null,
      observaciones: null,
      conclusiones: null,
      recomendaciones: null,
    });
    const error = ref(null);
    onMounted(async () => {
      if (props.reporte_id) {
        const reporteDB = await store.dispatch(
          "psicologos/getReporteFinal",
          props.reporte_id
        );
        if (reporteDB) {
          reporte.value = reporteDB;
          reporte.value.fecha_inicio = formatDateCustom(
            reporte.value.fecha_inicio
          );
        } else {
          error.value = "Datos no encontrados";
        }
      }
      await store.dispatch("general/getCarreras");
    });

    // * Getters
    const carreras = computed(() => store.getters["general/carreras"]);
    //Methods
    const createReporteFinal = () =>
      store.dispatch("psicologos/createReporteFinal", reporte.value);
    async function handleCreateReporteFinal() {
      $q.loading.show();
      const res = await createReporteFinal();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Reporte Creado Creado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    const updateReporteFinal = () =>
      store.dispatch("psicologos/updateReporteFinal", reporte.value);
    const handleUpdateReporteFinal = async () => {
      $q.loading.show();
      const res = await updateReporteFinal();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Reporte Actualizado Creado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    //  Validation
    const reporteValid = computed(() => {
      return (
        reporte.value.nombre_completo &&
        reporte.value.edad &&
        reporte.value.sexo &&
        reporte.value.carrera_id > 0 &&
        reporte.value.ocupacion &&
        reporte.value.fecha_inicio &&
        reporte.value.numero_sesiones &&
        reporte.value.motivo_consulta &&
        reporte.value.tecnicas &&
        reporte.value.observaciones &&
        reporte.value.conclusiones
      );
    });
    return {
      reporte,
      carreras,
      SEXOS,
      handleCreateReporteFinal,
      reporteValid,
      handleUpdateReporteFinal,
      error,
    };
  },
};
</script>
