<template>
  <div class="q-pa-md">
    <q-table
      v-if="reportes"
      title="Formatos Entrevista"
      :rows="reportes"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right="props">
        <q-btn
          flat
          round
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        >
          <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
            >{{ props.inFullscreen ? "Reducir" : "Expandir" }}
          </q-tooltip>
        </q-btn>
      </template>

      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-pencil"
                :to="`/psicologos/reportesFinales/update/${props.row.id}`"
              />
              <q-tooltip> Editar Reporte </q-tooltip>
            </div>
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-content-save"
                @click="handleSavePDF(props.row)"
              />
              <q-tooltip> Guardar Pdf </q-tooltip>
            </div>
          </div>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.totalPages > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { formatDate } from "src/filters/date";
import { useQuasar } from "quasar";

const columns = [
  {
    name: "nombre_completo",
    required: true,
    label: "ALumno",
    align: "left",
    field: (row) => row.nombre_completo,
  },
  {
    name: "carrera",
    required: true,
    label: "Carrera",
    align: "left",
    field: (row) => row.carrera,
  },
  {
    name: "created_at",
    required: true,
    label: "Fecha Creada",
    align: "left",
    field: (row) => row.created_at,
    format: (val) => formatDate(val),
  },
  {
    name: "acciones",
    required: true,
    label: "Acciones",
    align: "left",
  },
];
export default defineComponent({
  name: "ReportesFinalesTable",
  setup() {
    const store = useStore();
    const $q = useQuasar();
    const loading = ref(false);
    onMounted(async () => {
      loading.value = true;
      await store.dispatch("psicologos/getReportesFinales");
      loading.value = false;
    });
    //* Getters
    const reportes = computed(() => store.getters["psicologos/reportesF"]);
    const pagination = computed(() => store.getters["psicologos/paginationRF"]);

    const handleChangePagination = async (direction) => {
      loading.value = true;
      await store.dispatch("general/changePagination", {
        direction: direction,
        module: "psicologos",
        collection: "reportesF",
        commit: "SET_REPORTES_FINALES",
      });
      loading.value = false;
    };
    const savePDF = (reporte) =>
      store.dispatch("psicologos/printReporteFinal", reporte);
    const handleSavePDF = async (reporte) => {
      $q.loading.show();
      const res = await savePDF(reporte);
      $q.loading.hide();
      if (!res) {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    return {
      handleSavePDF,
      loading,
      columns,
      reportes,
      pagination,
      handleChangePagination,
    };
  },
});
</script>
