<template>
  <canalizaciones-table></canalizaciones-table>
</template>

<script>
import CanalizacionesTable from "src/components/Psicologos/CanalizacionesTable.vue";
export default {
  components: {
    CanalizacionesTable,
  },
};
</script>

<style></style>
