<template>
  <q-form @submit.prevent="handleUpdateAnuncio()">
    <div>
      <p class="q-ml-md q-mt-lg text-subtitle1">Actualizacion de Anuncio</p>
    </div>
    <div class="row">
      <div class="column col-6">
        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="anuncio.titulo"
              :rules="[
                (val) =>
                  (val && val.length > 0) || 'Escriba el titulo del anuncio',
              ]"
              label="Título*"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="anuncio.link"
              type="url"
              label="URL*"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-file
              @input="generateImage($event)"
              accept=".jpg,.png,.jpeg"
              dense
              filled
              class="full-width"
              bottom-slots
              v-model="anuncio.imagen"
              label="Imagen"
              counter
            >
              <template v-slot:prepend>
                <q-icon name="cloud_upload" @click.stop />
              </template>
              <template v-slot:append>
                <q-icon
                  name="close"
                  @click.stop="anuncio.imagen = null"
                  class="cursor-pointer"
                />
              </template>
            </q-file>
          </q-item>
        </div>
      </div>
      <div class="col-6 row justify-center">
        <div>
          <img
            v-if="file"
            :src="file"
            alt="Imagen Anuncio"
            width="375"
            height="375"
          />
        </div>
      </div>
      <div class="col-12">
        <div class="q-pa-md q-gutter-sm">
          <q-editor
            height="130px"
            placeholder="Descripción*"
            v-model="anuncio.descripcion"
            min-height="5rem"
          />
        </div>
      </div>
    </div>

    <div class="row justify-end q-mt-md">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          color="secondary"
          icon="mdi-content-save"
          label="Aceptar"
          type="submit"
        />
        <q-btn color="red" icon="mdi-delete" label="Cancelar" />
      </div>
    </div>
  </q-form>
</template>

<script>
import { onMounted, reactive, ref } from "vue";
import { useStore } from "vuex";
// import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
export default {
  props: {
    id: { required: true, type: Number },
  },
  setup(props) {
    // * Declarations
    const store = useStore();
    // const router = useRouter();
    const $q = useQuasar();
    /*************************** */
    //* Variables
    const anuncio = reactive({
      id: "",
      titulo: "",
      descripcion: "",
      link: "",
      imagen: null,
      file: null,
    });
    const file = ref({});

    onMounted(async () => {
      const anuncioData = await store.dispatch("admin/getAnuncio", props.id);
      //* SET PROP VARIABLES TO LOCAL
      anuncio.id = anuncioData.id;
      anuncio.titulo = anuncioData.titulo;
      anuncio.descripcion = anuncioData.descripcion;
      anuncio.link = anuncioData.link;
      file.value = anuncioData.file;
    });

    const updateAnuncio = () => store.dispatch("admin/updateAnuncio", anuncio);
    async function handleUpdateAnuncio() {
      $q.loading.show();
      const res = await updateAnuncio();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Anuncio Actualizado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }

    const generateImage = (event) => {
      const image = event.target.files[0];
      file.value = URL.createObjectURL(image);
    };
    return {
      anuncio,
      handleUpdateAnuncio,
      generateImage,
      file,
    };
  },
};
</script>

<style scoped></style>
