<template>
  <div class="q-pa-md">
    <q-table
      v-if="alumnos"
      :title="title"
      :rows="alumnos"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right="props">
        <q-btn
          v-if="searching"
          color="secondary"
          padding="10px"
          size="xs"
          icon="mdi-refresh"
          label="restablecer"
          class="q-mr-md"
          @click="refresh()"
        />
        <q-input
          borderles
          dense
          debounce="300"
          v-model="search_term"
          placeholder="Buscar"
          @keyup.enter="search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-btn
          flat
          round
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        >
          <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
            >{{ props.inFullscreen ? "Reducir" : "Expandir" }}
          </q-tooltip>
        </q-btn>
      </template>
      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <div>
              <q-btn
                v-if="props.row.tutor_id"
                dense
                color="teal-9"
                icon="mdi-pencil"
                :to="`/tutores/alumnosM/${props.row.id}`"
              />
              <q-tooltip> Editar </q-tooltip>
            </div>
            <div>
              <q-btn
                v-if="!props.row.tutor_id"
                dense
                color="teal-9"
                icon="mdi-pencil"
                :to="`/tutores/alumnosT/${props.row.id}`"
              />
              <q-tooltip> Editar </q-tooltip>
            </div>
            <!-- <div>
              <q-btn
                @click="viewItem(props.row)"
                dense
                color="light-blue-10"
                icon="mdi-eye"
              />
              <q-tooltip> Ver Alumno </q-tooltip>
            </div> -->
            <div v-if="props.row.tutor_id">
              <q-btn
                dense
                color="teal-9"
                icon="mdi-account-child"
                :to="`/monitores/${props.row.id}/alumnosTutorados`"
              />
              <q-tooltip> Alumnos Tutorados </q-tooltip>
            </div>
            <div v-if="props.row.tutor_id && activos">
              <q-btn
                dense
                :color="props.row.activo == 1 ? 'red-8' : 'green-8'"
                :icon="
                  props.row.activo == 1
                    ? 'mdi-account-remove'
                    : 'mdi-account-reactivate'
                "
                @click="handleDeshabilitarMonitor(props.row)"
              />
              <q-tooltip> Deshabilitar Monitor</q-tooltip>
            </div>
            <div v-if="props.row.tutor_id && !activos">
              <q-btn
                dense
                :color="props.row.activo == 1 ? 'red-8' : 'green-8'"
                :icon="
                  props.row.activo == 1
                    ? 'mdi-account-remove'
                    : 'mdi-account-reactivate'
                "
                @click="handlehabilitarMonitor(props.row)"
              />
              <q-tooltip> Habilitar Monitor</q-tooltip>
            </div>
            <div v-if="!props.row.tutor_id && activos">
              <q-btn
                dense
                :color="props.row.activo == 1 ? 'red-8' : 'green-8'"
                :icon="
                  props.row.activo == 1
                    ? 'mdi-account-remove'
                    : 'mdi-account-reactivate'
                "
                @click="handleDeshabilitarTutorado(props.row)"
              />
              <q-tooltip> Deshabilitar Tutorado </q-tooltip>
            </div>
            <div v-if="!props.row.tutor_id && !activos">
              <q-btn
                dense
                :color="props.row.activo == 1 ? 'red-8' : 'green-8'"
                :icon="
                  props.row.activo == 1
                    ? 'mdi-account-remove'
                    : 'mdi-account-reactivate'
                "
                @click="handleHabilitarTutorado(props.row)"
              />
              <q-tooltip> Deshabilitar Tutorado </q-tooltip>
            </div>
          </div>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.totalPages > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { deshabilitarMonitor } from "src/store/tutores/actions";
import { errorConfig, successConfig } from "src/constants/toast";

export default defineComponent({
  name: "MonitoresTable",
  props: {
    tutorId: String,
    monitorId: String,
    type: { type: String, required: true }, // Grupales o Individuales
    activos: { type: Boolean },
  },
  setup(props) {
    // * Declarations
    const store = useStore();
    const $q = useQuasar();
    /*************************/

    const rows = ref([]);
    const filter = ref("");
    const loading = ref(true);
    let columns = [];
    let title = "";
    let alumnos = null;
    let pagination = null;
    let handleChangePagination = null;
    let handleDeshabilitarMonitor = null;
    let handleDeshabilitarTutorado = null;
    let handlehabilitarMonitor = null;
    let handleHabilitarTutorado = null;
    let search = null;
    let refresh = null;
    let test = null;
    const search_term = ref("");
    const searching = ref(false);
    if (props.type == "Monitores") {
      columns = [
        {
          name: "nombres",
          required: true,
          label: "Nombres",
          align: "left",
          field: "nombres",
        },
        {
          name: "apellidoP",
          align: "left",
          label: "Apellido Paterno",
          field: "apellidoP",
          sortable: true,
        },
        {
          name: "apellidoM",
          align: "left",
          label: "Apellido Materno",
          field: "apellidoM",
          sortable: true,
        },
        {
          name: "alumnosT",
          align: "left",
          label: "Alumnos Tutorados",
          field: "alumnosT",
          sortable: true,
        },
        {
          name: "acciones",
          required: true,
          label: "Acciones",
          align: "left",
        },
      ];
      title = "Alumnos Monitores";
      //* Initial Fetch
      onMounted(async () => {
        loading.value = true;
        if (props.activos) {
          await store.dispatch("tutores/getAlumnosM", props.tutorId);
        } else {
          await store.dispatch("tutores/getAlumnosMD", props.tutorId);
        }
        loading.value = false;
      });

      //* Getters
      if (props.activos) {
        alumnos = computed(() => store.getters["tutores/alumnosM"]);
        pagination = computed(() => store.getters["tutores/paginationAM"]);
      } else {
        alumnos = computed(() => store.getters["tutores/alumnosMD"]);
        pagination = computed(() => store.getters["tutores/paginationAMD"]);
      }
      /*************************/

      //* Table Logic
      if (props.activos) {
        handleChangePagination = async (direction) => {
          loading.value = true;
          await store.dispatch("general/changePagination", {
            direction: direction,
            module: "tutores",
            collection: "alumnosM",
            commit: "SET_ALUMNOSM_DATA",
          });
          loading.value = false;
        };
      } else {
        title = "Cuentas Desactivadas de Alumnos Monitores";
        handleChangePagination = async (direction) => {
          loading.value = true;
          await store.dispatch("general/changePagination", {
            direction: direction,
            module: "tutores",
            collection: "alumnosMD",
            commit: "SET_ALUMNOSMD_DATA",
          });
          loading.value = false;
        };
      }
      const deshabilitarMonitor = (id) =>
        store.dispatch("tutores/deshabilitarMonitor", id);
      const habilitarMonitor = (id) =>
        store.dispatch("tutores/habilitarMonitor", id);

      handleDeshabilitarMonitor = async (id) => {
        loading.value = true;
        const res = await deshabilitarMonitor(id);
        loading.value = false;
        if (res) {
          $q.notify({ ...successConfig, message: "Monitor Desactivado" });
        } else {
          $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
        }
      };
      handlehabilitarMonitor = async (id) => {
        loading.value = true;
        const res = await habilitarMonitor(id);
        loading.value = false;
        if (res) {
          $q.notify({ ...successConfig, message: "Monitor Activado" });
        } else {
          $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
        }
      };
      if (props.activos) {
        search = async () => {
          loading.value = true;
          await store.dispatch("general/search", {
            table: "alumno_monitor",
            field: "nombres",
            active: 1,
            term: search_term.value,
            module: "tutores",
            collection: "alumnosM",
            commit: "SET_ALUMNOSM_DATA",
          });
          searching.value = true;
          loading.value = false;
        };
        refresh = async () => {
          loading.value = true;
          search_term.value = "";
          await store.dispatch("tutores/getAlumnosM", props.tutorId); //!
          searching.value = false;
          loading.value = false;
        };
      } else {
        search = async () => {
          loading.value = true;
          await store.dispatch("general/search", {
            table: "alumno_monitor",
            field: "nombres",
            active: 0,
            term: search_term.value,
            module: "tutores",
            collection: "alumnosMD",
            commit: "SET_ALUMNOSMD_DATA",
          });
          searching.value = true;
          loading.value = false;
        };
        refresh = async () => {
          loading.value = true;
          search_term.value = "";
          await store.dispatch("tutores/getAlumnosMD", props.tutorId); //!
          searching.value = false;
          loading.value = false;
        };
      }
    }
    if (props.type == "Tutorados") {
      if (props.monitorId) {
        columns = [
          {
            name: "nombres",
            align: "left",
            label: "Nombres",
            field: "nombres",
            sortable: true,
          },
          {
            name: "apellidos",
            align: "left",
            label: "Apellidos",
            field: "apellidos",
            sortable: true,
          },
          {
            name: "carrera",
            align: "left",
            label: "Carrera",
            field: "carrera",
            sortable: true,
          },
          {
            name: "acciones",
            required: true,
            label: "Acciones",
            align: "left",
          },
        ];
        title = "Alumnos Tutorados";
        //* Initial Fetch
        onMounted(async () => {
          loading.value = true;
          await store.dispatch("monitores/getAlumnosT", props.monitorId);
          loading.value = false;
        });

        //* Getters
        alumnos = computed(() => store.getters["monitores/alumnosT"]);
        pagination = computed(() => store.getters["monitores/paginationAT"]);
        /*************************/

        //* Table Logic

        handleChangePagination = async (direction) => {
          loading.value = true;
          await store.dispatch("general/changePagination", {
            direction: direction,
            module: "monitores",
            collection: "alumnosT",
            commit: "SET_ALUMNOST_DATA",
          });
          loading.value = false;
        };
      }

      if (props.tutorId) {
        columns = [
          {
            name: "nombres",
            align: "left",
            label: "Nombres",
            field: "nombres",
            sortable: true,
          },
          {
            name: "apellidos",
            align: "left",
            label: "Apellidos",
            field: "apellidos",
            sortable: true,
          },
          {
            name: "carrera",
            align: "left",
            label: "Carrera",
            field: "carrera",
            sortable: true,
          },
          {
            name: "monitor",
            align: "left",
            label: "Alumno Monitor",
            field: (row) => `${row.monitor.nombres} ${row.monitor.apellidoP}`,
            sortable: true,
          },
          {
            name: "acciones",
            required: true,
            label: "Acciones",
            align: "left",
          },
        ];
        title = "Alumnos Tutorados";
        //* Initial Fetch
        onMounted(async () => {
          loading.value = true;
          if (props.activos) {
            await store.dispatch("tutores/getAlumnosTGeneral", props.tutorId);
          } else {
            await store.dispatch("tutores/getAlumnosTDGeneral", props.tutorId);
          }
          loading.value = false;
        });

        //* Getters
        if (props.activos) {
          alumnos = computed(() => store.getters["tutores/alumnosT"]);
          pagination = computed(() => store.getters["tutores/paginationAT"]);
        } else {
          alumnos = computed(() => store.getters["tutores/alumnosTD"]);
          pagination = computed(() => store.getters["tutores/paginationATD"]);
        }
        /*************************/

        //* Table Logic
        if (props.activos) {
          handleChangePagination = async (direction) => {
            loading.value = true;
            await store.dispatch("general/changePagination", {
              direction: direction,
              module: "tutores",
              collection: "alumnosT",
              commit: "SET_ALUMNOST_DATA",
            });
            loading.value = false;
          };
        } else {
          title = "Cuentas Desactivadas de Alumnos Tutorados";
          handleChangePagination = async (direction) => {
            loading.value = true;
            await store.dispatch("general/changePagination", {
              direction: direction,
              module: "tutores",
              collection: "alumnosTD",
              commit: "SET_ALUMNOSTD_DATA",
            });
            loading.value = false;
          };
        }

        const deshabilitarTutorado = (id) =>
          store.dispatch("tutores/deshabilitarTutorado", id);
        const habilitarTutorado = (id) =>
          store.dispatch("tutores/habilitarTutorado", id);

        handleDeshabilitarTutorado = async (id) => {
          loading.value = true;
          const res = await deshabilitarTutorado(id);
          loading.value = false;
          if (res) {
            $q.notify({ ...successConfig, message: "Tutorado Desactivado" });
          } else {
            $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
          }
        };
        handleHabilitarTutorado = async (id) => {
          loading.value = true;
          const res = await habilitarTutorado(id);
          loading.value = false;
          if (res) {
            $q.notify({ ...successConfig, message: "Tutorado Activado" });
          } else {
            $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
          }
        };
        test = async () => {
          // console.log(data);
        };
        if (props.activos) {
          search = async () => {
            loading.value = true;
            await store.dispatch("general/search", {
              table: "alumno_tutorado",
              field: "nombres",
              active: 1,
              term: search_term.value,
              module: "tutores",
              collection: "alumnosT",
              commit: "SET_ALUMNOST_DATA",
            });
            searching.value = true;
            loading.value = false;
          };
          refresh = async () => {
            loading.value = true;
            search_term.value = "";
            await store.dispatch("tutores/getAlumnosTGeneral", props.tutorId); //!
            searching.value = false;
            loading.value = false;
          };
        } else {
          search = async () => {
            loading.value = true;
            await store.dispatch("general/search", {
              table: "alumno_tutorado",
              field: "nombres",
              active: 0,
              term: search_term.value,
              module: "tutores",
              collection: "alumnosTD",
              commit: "SET_ALUMNOSTD_DATA",
            });
            searching.value = true;
            loading.value = false;
          };
          refresh = async () => {
            loading.value = true;
            search_term.value = "";
            await store.dispatch("tutores/getAlumnosTDGeneral", props.tutorId); //!
            searching.value = false;
            loading.value = false;
          };
        }
      }
    }
    /*************************/
    const viewItem = (item) => console.log(item);
    return {
      filter,
      loading,
      pagination,
      columns,
      rows,
      viewItem,
      alumnos,
      test,
      handleChangePagination,
      handleDeshabilitarMonitor,
      handleDeshabilitarTutorado,
      handlehabilitarMonitor,
      handleHabilitarTutorado,
      title,
      search,
      search_term,
      searching,
      refresh,
    };
  },
});
</script>
