<template>
  <form @submit.prevent="handleUpdate()">
    <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
      <q-card-section>
        <div>
          <p class="q-ml-md q-mt-md text-subtitle1">Visualización del Perfil</p>
        </div>
      </q-card-section>
      <q-separator />

      <q-card-section>
        <div>
          <p class="q-ml-md q-mt-sm text-regular">Información de su cuenta:</p>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <q-item class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <q-item-section side>
                <div class="row justify-start items-center">
                  <div>
                    <q-avatar size="100px">
                      <img v-if="file" :src="file" />
                      <img v-else src="avatar.png" />
                    </q-avatar>
                  </div>

                  <div class="q-ml-md">
                    <!-- <q-btn
                      v-if="editing"
                      color="primary"
                      icon="mdi-upload"
                      label="Actualizar"
                    /> -->
                    <q-file
                      v-if="editing"
                      @input="generateImage($event)"
                      accept=".jpg,.png,.jpeg"
                      dense
                      filled
                      class="full-width"
                      bottom-slots
                      v-model="perfil.imagen"
                      label="Imagen"
                      counter
                    >
                      <template v-slot:prepend>
                        <q-icon name="cloud_upload" @click.stop />
                      </template>
                      <template v-slot:append>
                        <q-icon
                          name="close"
                          @click.stop="perfil.imagen = null"
                          class="cursor-pointer"
                        />
                      </template>
                    </q-file>
                  </div>
                </div>
              </q-item-section>
            </q-item>
            <div>
              <p class="q-ml-xl q-mt-sm text-subtitle2">Tutor</p>
            </div>
          </div>

          <div class="col-4 q-mb-sm">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="perfil.nombres"
                label="Nombres"
                :disable="!editing"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="perfil.apellidoP"
                label="Apellido paterno"
                :disable="!editing"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="perfil.apellidoM"
                label="Apellido Materno"
                :disable="!editing"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-select
                dense
                filled
                :disable="!editing"
                class="full-width"
                :emit-value="true"
                :map-options="true"
                :option-value="
                  (carrera) => (carrera === null ? null : carrera.id)
                "
                :option-label="
                  (carrera) =>
                    carrera === null ? 'Null value' : carrera.carrera
                "
                v-model="perfil.carrera_id"
                :options="carreras"
                label="Carrera"
                :rules="[
                  (val) =>
                    val || 'Debes confirmar la carrera antes de actualizar',
                ]"
              />
            </q-item>
          </div>

          <div class="col-4 q-mb-sm">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="perfil.horario"
                label="Horario (i.e. 8:00 AM - 2:00 PM)"
                :disable="!editing"
              />
            </q-item>
          </div>

          <div class="col-12 q-mb-sm">
            <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
              <q-input
                :disable="!editing"
                dense
                label="Descripcion"
                v-model="perfil.descripcion"
                class="full-width"
                filled
                type="textarea"
              />
            </div>
          </div>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="row justify-end q-mr-sm">
          <div class="q-pa-sm q-gutter-sm">
            <q-btn
              v-if="editing"
              color="secondary"
              label="Actualizar"
              type="submit"
            />
            <q-btn
              v-else
              color="secondary"
              label="Editar"
              type="button"
              @click="editing = true"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </form>
</template>

<script>
import { defineComponent } from "vue";
import { ref, computed, onMounted, reactive } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";

export default defineComponent({
  name: "Checkout",
  setup() {
    const store = useStore();
    const $q = useQuasar();
    const perfil = ref({
      nombres: "",
      apellidoM: "",
      apellidoP: "",
      carrera_id: null,
      horario: "",
      descripcion: "",
      imagen: null,
    });
    const editing = ref(false);
    const file = ref(null);
    const tutorPerfil = computed(() => store.getters["auth/TutorProfile"]);
    const carreras = computed(() => store.getters["general/carreras"]);

    onMounted(async () => {
      await store.dispatch("general/getCarreras");
      perfil.value = { ...tutorPerfil.value };
      file.value = tutorPerfil.value.imagen;
    });
    const updatePerfil = () =>
      store.dispatch("auth/updateTutorPerfil", perfil.value);
    async function handleUpdate() {
      $q.loading.show();
      const res = await updatePerfil();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Perfil Actualizado" });
        editing.value = false;
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    const generateImage = (event) => {
      const image = event.target.files[0];
      file.value = URL.createObjectURL(image);
    };
    return {
      generateImage,
      handleUpdate,
      perfil,
      tutorPerfil,
      carreras,
      editing,
      file,
    };
  },
});
</script>

<style scoped></style>
