<template>
  <q-form
    @submit.prevent="edit ? handleUpdateReporte() : handleCreateReporte()"
  >
    <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
      <q-card-section>
        <div>
          <p class="q-mt-lg q-ml-md text-subtitle1">Nuevo Reporte Grupal</p>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div>
          <p class="q-ml-md q-mt-lg q-mb-lg text-regular">
            Favor de llenar con la información solicitada de la Tutoría Dinámica
            Grupal
          </p>
        </div>

        <div class="row">
          <div class="col-4">
            <q-item>
              <q-select
                dense
                filled
                class="full-width"
                :emit-value="true"
                :map-options="true"
                :option-value="
                  (carrera) => (carrera === null ? null : carrera.id)
                "
                :option-label="
                  (carrera) =>
                    carrera === null ? 'Null value' : carrera.carrera
                "
                v-model="reporte.carrera_id"
                :options="carreras"
                label="Carrera*"
                :rules="[
                  (val) =>
                    val || 'Debes confirmar la carrera antes de actualizar',
                ]"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-select
                dense
                filled
                class="full-width"
                v-model="reporte.cuatrimestre"
                :rules="[(val) => val || 'Selccione el cuatrimestre']"
                label="Cuatrimestre*"
                :options="cuatrimestres"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="reporte.grupo"
                :rules="[
                  (val) => (val && val.length > 0) || 'Escriba el grupo',
                ]"
                label="Grupo*"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-select
                dense
                filled
                class="full-width"
                v-model="reporte.turno"
                :rules="[
                  (val) => (val && val.length > 0) || 'Selccione su turno',
                ]"
                label="Turno*"
                :options="turnos"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="reporte.fecha"
                :navigation-max-year-month="`${new Date().getFullYear()}/${new Date().getMonth()}`"
                type="date"
                :rules="[
                  (val) => (val && val.length > 0) || 'Selccione la fecha',
                ]"
              />
            </q-item>
          </div>

          <div class="col-12 q-mb-sm">
            <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
              <q-editor
                filled
                placeholder="Nombre de la dinámica *"
                v-model="reporte.dinamica"
                min-height="6rem"
              />
            </div>
          </div>

          <div class="col-12 q-mb-sm">
            <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
              <q-editor
                filled
                placeholder="Actividades y observaciones*"
                v-model="reporte.observaciones"
                min-height="6rem"
              />
            </div>
          </div>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="row justify-end q-mr-sm">
          <div class="q-pa-sm q-gutter-sm">
            <q-btn
              type="submit"
              color="secondary"
              icon="mdi-content-save"
              label="Aceptar"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-form>
</template>

<script>
import { defineComponent, computed, reactive, onMounted } from "vue";
import { CUATRIMESTRES, TURNOS } from "src/constants/selects";
import { formatDate } from "src/filters/date";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
export default defineComponent({
  props: {
    edit: {
      required: true,
      type: Boolean,
    },
    reporteId: {
      required: false,
      type: Number,
    },
  },
  setup(props) {
    const store = useStore();
    const $q = useQuasar();

    const cuatrimestres = CUATRIMESTRES;
    const turnos = TURNOS;
    const reporte = reactive({
      id: "",
      grupo: "",
      carrera_id: "",
      cuatrimestre: "",
      turno: "",
      dinamica: "",
      fecha: "",
      observaciones: "",
    });
    let handleUpdateReporte;
    onMounted(async () => {
      await store.dispatch("general/getCarreras");
    });

    // * Getters
    const carreras = computed(() => store.getters["general/carreras"]);
    //* Vuex Action
    const createReporte = () =>
      store.dispatch("tutores/createReporteG", reporte);
    const handleCreateReporte = async () => {
      //   return console.log(reporte);
      $q.loading.show();
      const res = await createReporte();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Reporte Creado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    if (props.edit) {
      onMounted(async () => {
        const reporteData = await store.dispatch(
          "tutores/getReporteG",
          props.reporteId
        );
        reporte.id = reporteData.id;
        reporte.grupo = reporteData.grupo;
        reporte.carrera_id = reporteData.carrera_id;
        reporte.cuatrimestre = reporteData.cuatrimestre;
        reporte.turno = reporteData.turno;
        reporte.dinamica = reporteData.dinamica;
        reporte.fecha = formatDate(reporteData.fecha);
        reporte.observaciones = reporteData.observaciones;
      });

      //* Vuex Action
      const updateReporte = () =>
        store.dispatch("tutores/updateReporteG", reporte);

      handleUpdateReporte = async () => {
        $q.loading.show();
        const res = await updateReporte();
        $q.loading.hide();
        if (res) {
          $q.notify({ ...successConfig, message: "Reporte Actualizado" });
        } else {
          $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
        }
      };
    }
    return {
      reporte,
      turnos,
      cuatrimestres,
      handleCreateReporte,
      carreras,
      handleUpdateReporte,
    };
  },
});
</script>
