<template>
  <div class="q-pa-md">
    <q-table
      v-if="reportes"
      :title="title"
      :rows="reportes"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right="props">
        <q-btn
          flat
          round
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        >
          <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
            >{{ props.inFullscreen ? "Reducir" : "Expandir" }}
          </q-tooltip>
        </q-btn>
      </template>

      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-pencil"
                :to="
                  type == 'Individuales'
                    ? `/tutores/reportesI/update/${props.row.id}`
                    : `/tutores/reportesG/update/${props.row.id}`
                "
              />
              <q-tooltip> Editar Reporte </q-tooltip>
            </div>
            <div>
              <q-btn
                class="gt-md"
                :to="
                  type == 'Individuales'
                    ? `/tutores/reportesI/${props.row.id}`
                    : `/tutores/reportesG/${props.row.id}`
                "
                @click="viewItem(props.row)"
                dense
                color="light-blue-10"
                icon="mdi-eye"
              />
              <q-tooltip> Ver Reporte </q-tooltip>
            </div>
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-content-save"
                @click="handleSavePDF(props.row)"
              />
              <q-tooltip> Guardar Pdf </q-tooltip>
            </div>
          </div>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.totalPages > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { formatDate } from "src/filters/date";
import { useQuasar } from "quasar";
import { errorConfig } from "src/constants/toast";

export default defineComponent({
  name: "TutoresTable",
  props: {
    tutorId: Number,
    type: { type: String, required: true },
    keyProp: { type: Number, required: false }, // Grupales o Individuales
  },
  setup(props) {
    // * Declarations
    const store = useStore();
    const $q = useQuasar();
    /*************************/
    const rows = ref([]);
    const filter = ref("");
    const loading = ref(true);
    let columns = [];
    let title = "";
    let reportes = null;
    let pagination = null;
    let handleChangePagination = null;
    let test = null;
    const search_term = ref("");
    const searching = ref(false);
    let search = null;
    let refresh = null;

    if (props.type == "Individuales") {
      columns = [
        {
          name: "alumno",
          required: true,
          label: "Alumno",
          align: "left",
          field: (row) => row.alumno,
          format: (val) => `${val}`,
          // sortable: true,
        },
        {
          name: "turno",
          align: "left",
          label: "Turno",
          field: "turno",
          sortable: true,
        },
        {
          name: "cuatrimestre",
          align: "left",
          label: "Cuatrimestre",
          field: "cuatrimestre",
          sortable: true,
        },
        {
          name: "carrera",
          align: "left",
          label: "Carrera",
          field: "carrera",
          sortable: true,
        },
        {
          name: "fecha",
          align: "left",
          label: "Fecha",
          field: "fecha",
          sortable: true,
          format: (val) => formatDate(val),
        },
        {
          name: "acciones",
          required: true,
          label: "Acciones",
          align: "left",
        },
      ];
      title = "Tutorías Individuales";
      //* Initial Fetch
      onMounted(async () => {
        loading.value = true;
        await store.dispatch("tutores/getReportesI", props.tutorId);
        loading.value = false;
      });

      //* Getters
      reportes = computed(() => store.getters["tutores/reportesI"]);
      pagination = computed(() => store.getters["tutores/paginationI"]);
      /*************************/

      //* Table Logic
      handleChangePagination = async (direction) => {
        loading.value = true;
        await store.dispatch("general/changePagination", {
          direction: direction,
          module: "tutores",
          collection: "reportesI",
          commit: "SET_REPORTESI_DATA",
        });
        loading.value = false;
      };
      test = async (data) => {
        // console.log(data);
      };
    }
    if (props.type == "Grupales") {
      columns = [
        {
          name: "grupo",
          align: "left",
          label: "Grupo",
          field: "grupo",
          sortable: true,
        },
        {
          name: "cuatrimestre",
          align: "left",
          label: "Cuatrimestre",
          field: "cuatrimestre",
          sortable: true,
        },
        {
          name: "carrera",
          align: "left",
          label: "Carrera",
          field: "carrera",
          sortable: true,
        },
        {
          name: "fechaR",
          align: "left",
          label: "Fecha Realizada",
          field: "fecha",
          format: (val) => formatDate(val),
          sortable: true,
        },
        {
          name: "acciones",
          required: true,
          label: "Acciones",
          align: "left",
        },
      ];
      title = "Tutorías Grupales";
      //* Initial Fetch
      onMounted(async () => {
        loading.value = true;
        await store.dispatch("tutores/getReportesG", props.tutorId);
        loading.value = false;
      });

      //* Getters
      reportes = computed(() => store.getters["tutores/reportesG"]);
      pagination = computed(() => store.getters["tutores/paginationG"]);
      /*************************/

      //* Table Logic

      handleChangePagination = async (direction) => {
        loading.value = true;
        await store.dispatch("general/changePagination", {
          direction: direction,
          module: "tutores",
          collection: "reportesG",
          commit: "SET_REPORTESG_DATA",
        });
        loading.value = false;
      };
      test = async () => {
        // console.log(data);
      };
    }

    //* PDF
    const savePDF = (reporte) =>
      store.dispatch("tutores/printReporte", reporte);
    const handleSavePDF = async (reporte) => {
      $q.loading.show();
      const res = await savePDF(reporte);
      $q.loading.hide();
      if (!res) {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    /*************************/
    const viewItem = (item) => console.log(item);
    return {
      filter,
      loading,
      pagination,
      columns,
      rows,
      viewItem,
      reportes,
      test,
      handleChangePagination,
      handleSavePDF,
      title,
    };
  },
});
</script>
