<template>
  <q-form @submit.prevent="handleUpdateTutor()">
    <div>
      <p class="q-ml-md q-mt-lg text-subtitle1">Actualizar Tutor</p>
    </div>
    <div class="row">
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.nombres"
            :rules="[(val) => (val && val.length > 0) || 'Escriba sus nombres']"
            label="Nombres*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.apellidoP"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido paterno',
            ]"
            label="Apellido Paterno*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.apellidoM"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido materno',
            ]"
            label="Apellido Materno*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.email"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido materno',
            ]"
            label="Correo"
            disable
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-select
            dense
            filled
            class="full-width"
            :emit-value="true"
            :map-options="true"
            :option-value="(carrera) => (carrera === null ? null : carrera.id)"
            :option-label="
              (carrera) => (carrera === null ? 'Null value' : carrera.carrera)
            "
            v-model="tutor.carrera_id"
            :options="carreras"
            label="Carrera"
            :rules="[
              (val) => val || 'Debes confirmar la carrera antes de actualizar',
            ]"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="tutor.horario"
            :rules="[(val) => (val && val.length > 0) || 'Rellene este campo']"
            label="Horario*"
          />
        </q-item>
      </div>

      <div class="col-12">
        <div class="q-pa-md q-gutter-sm">
          <q-editor
            height="90px"
            placeholder="Descripción*"
            v-model="tutor.descripcion"
            min-height="5rem"
          />
        </div>
      </div>
    </div>

    <div class="row justify-end q-mt-md">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          color="secondary"
          icon="mdi-content-save"
          label="Aceptar"
          type="submit"
        />
        <q-btn
          color="orange-13"
          icon="mdi-account-key"
          label="Restablecer Contraseña"
          @click="activateModal"
        />
      </div>
    </div>
  </q-form>
  <q-dialog v-model="cardModal">
    <reset-password
      @resetDone="closeModal"
      :id="tutor.user_id"
    ></reset-password>
  </q-dialog>
</template>

<script>
import ResetPassword from "src/components/General/ResetPassword.vue";
import { onMounted, ref, reactive, computed } from "vue";
import { useStore } from "vuex";
// import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
export default {
  components: { ResetPassword },
  props: {
    id: { required: true, type: Number },
  },
  setup(props) {
    // * Declarations
    const store = useStore();
    // const router = useRouter();
    const $q = useQuasar();
    /*************************** */
    //* Variables
    const tutor = reactive({
      id: "",
      nombres: "",
      apellidoP: "",
      apellidoM: "",
      carrera_id: "",
      horario: "",
      descripcion: "",
      user_id: "",
      email: "",
    });
    const cardModal = ref(false);
    onMounted(async () => {
      await store.dispatch("general/getCarreras");
      const tutorData = await store.dispatch("admin/getTutor", props.id);
      //* SET PROP VARIABLES TO LOCAL
      tutor.id = tutorData.id;
      tutor.nombres = tutorData.nombres;
      tutor.apellidoP = tutorData.apellidoP;
      tutor.apellidoM = tutorData.apellidoM;
      tutor.carrera_id = tutorData.carrera_id;
      tutor.horario = tutorData.horario;
      tutor.descripcion = tutorData.descripcion;
      tutor.user_id = tutorData.user_id;
      tutor.email = tutorData.email;
    });

    // * Getters
    const carreras = computed(() => store.getters["general/carreras"]);
    /****************************************************** */
    const updateTutor = () => store.dispatch("admin/updateTutor", tutor);
    async function handleUpdateTutor() {
      $q.loading.show();
      const res = await updateTutor();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Tutor Actualizado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }

    const activateModal = () => {
      cardModal.value = true;
    };
    const closeModal = () => {
      cardModal.value = false;
    };
    return {
      tutor,
      carreras,
      handleUpdateTutor,
      cardModal,
      activateModal,
      closeModal,
    };
  },
};
</script>

<style scoped></style>
