<template>
  <q-card class="my-card q-ma-xl">
    <img
      v-if="anuncio.imagen"
      :src="anuncio.file"
      placeholder="anuncio-image"
    />
    <q-card-section>
      <div class="text-h6">{{ anuncio.titulo }}</div>
      <!-- <div class="text-subtitle2">by John Doe</div> -->
    </q-card-section>

    <q-card-section class="q-pt-none">
      <div v-html="anuncio.descripcion">

      </div>
    </q-card-section>
    <q-card-actions>
      <q-btn
        type="a"
        v-if="anuncio.link"
        :href="anuncio.link"
        flat
        target="_blank"
        >Abir Enlace</q-btn
      >
    </q-card-actions>
  </q-card>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  name: "Anuncio",
  props: {
    anuncio: { required: true, type: Object },
  },
});
</script>
