<template>
  <q-card class="card-bg text-white">
    <q-card-section>
      <div>
        <p class="q-ml-md q-mt-lg text-subtitle2 text-center">
          Información del Usuario
        </p>
      </div>
    </q-card-section>
    <q-card class="card-bg text-white">
      <q-card-section class="text-center bg-transparent">
        <q-avatar size="100px" class="shadow-10">
          <img v-if="profile.perfil_slug" :src="profile.file" />
        </q-avatar>
      </q-card-section>

      <q-card-section>
        <div class="text-body2 text-center">
          <div class="text-body2 q-mt-ms q-mb-md">
            {{ profile.type }}
          </div>
          <p class="text-body1">Nombres: {{ profile.nombres }}</p>
          <br />
          <p class="text-body1">
            Apellido Paterno: {{ profile.apellidoP }}
          </p>
          <br />
          <p class="text-body1">Apellido Materno:{{ profile.apellidoM }}</p>
          <br />
          <p class="text-body1">Status: {{ activo }}</p>
          <br />
          <p class="text-body1">
            Fecha de creación: {{ formatDate(profile.created_at) }}
          </p>
          <br />
          <p class="text-body1">
            Fecha actualizada: {{ formatDate(profile.updated_at) }}
          </p>
        </div>
      </q-card-section>
    </q-card>
  </q-card>
</template>

<script>
import { defineComponent, computed } from "vue";
import { formatDate } from "src/filters/date";
export default defineComponent({
  name: "Perfil",
  props: {
    profile: { required: true, type: Object },
    type: { required: true, type: String },
  },
  setup(props) {
    const activo = computed(() =>
      props.profile.activo == 1 ? "Activo" : null
    );
    return {
      activo,
      formatDate,
    };
  },
});
</script>

<style lang="scss">
.card-bg {
  background-color: $grey-10;
}
</style>
