<template>
  <q-card>
    <q-form @submit.prevent="hanldeReset()">
      <q-card-section>
        <div class="text-h6 grey-10">Reestablecer Contraseña</div>
        <!-- <div class="text-subtitle2">by John Doe</div> -->
      </q-card-section>

      <q-card-section>
        <q-input
          dense
          filled
          class="full-width"
          v-model="password"
          :rules="[
            (val) =>
              (val && val.length >= 7) ||
              'La contraseña debe ser de almenos 7 caracteres',
          ]"
          label="Nueva Contraseña "
        />
      </q-card-section>

      <q-separator dark />

      <q-card-actions align="right">
        <!-- <q-btn flat>Action 1</q-btn> -->
        <q-btn flat color="secondary" type="submit">Confirmar</q-btn>
      </q-card-actions>
    </q-form>
  </q-card>
</template>
<script>
import { defineComponent } from "vue";
import { ref } from "vue";
import { successConfig, errorConfig } from "src/constants/toast";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
export default defineComponent({
  name: "ResetPassword",
  props: {
    id: { required: true, type: String || Number },
  },
  emits: ["resetDone"],
  setup(props, { emit }) {
    const store = useStore();
    const $q = useQuasar();
    const password = ref("");
    const hanldeReset = async () => {
      $q.loading.show();
      const res = await store.dispatch("admin/resetUserPassword", {
        id: props.id,
        password: password.value,
      });
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Contraseña Actualizada" });
         emit("resetDone");
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal! Porfavor Intente de nuevo." });
        emit("resetDone");
      }
    };
    return {
      password,
      hanldeReset,
    };
  },
});
</script>
