<template>
  <reporte-grupal-form :edit="false"></reporte-grupal-form>
</template>

<script>
import ReporteGrupalForm from "src/components/Tutores/ReporteGrupalForm.vue";
export default {
  components: { ReporteGrupalForm },
};
</script>

<style></style>
