<template>
  <reportes-table :tutorId="$route.params.id || tutorId" type="Grupales" />
</template>

<script>
import { defineComponent, computed } from "vue";
import ReportesTable from "src/components/Tutores/ReportesTable.vue";
import { useStore } from "vuex";
export default defineComponent({
  name: "TutoresReportesIndividuales",
  components: { ReportesTable },
  setup() {
    const store = useStore();
    const tutorId = computed(() => store.getters["tutores/tutorId"]);
    return {
      tutorId,
    };
  },
});
</script>
