<template>
  <div v-if="anuncios">
    <div v-for="anuncio in anuncios" :key="anuncio.id">
      <anuncio :anuncio="anuncio" />
    </div>
  </div>

  <div class="row justify-end q-ma-xl">
    <div>
      <q-btn
        v-if="anuncios && paginationObject.next_page_url"
        :loading="loading"
        label="Cargar Anteriores"
        color="secondary"
        @click="loadAnuncios()"
        icon-right="cloud_download"
      />
    </div>
  </div>
</template>

<script>
import { ref, onMounted, computed, defineComponent } from "vue";
import { useStore } from "vuex";
// import { useQuasar } from "quasar";
import Anuncio from "src/components/General/Anuncio.vue";
export default defineComponent({
  name: "PageIndex",
  components: { Anuncio },
  setup() {
    // * Declarations
    const store = useStore();
    /*************************/
    const loading = ref(true);

    //* Initial Fetch

    onMounted(async () => {
      loading.value = true;
      await store.dispatch("admin/getAnuncios");
      loading.value = false;
    });

    //* Getters
    const anuncios = computed(() => store.getters["admin/anuncios"]);
    const pagination = computed(
      () => store.getters["admin/paginationAnuncios"]
    );
    const paginationObject = computed(
      () => store.getters["admin/paginationObjectAnuncios"]
    );
    /*************************/

    async function loadAnuncios() {
      loading.value = true;
      await store.dispatch("admin/loadAnuncios");
      loading.value = false;
    }

    return {
      loading,
      pagination,
      anuncios,
      loadAnuncios,
      paginationObject,
    };
  },
});
</script>
