<template>
  <q-card>
    <q-form @submit.prevent="handleCanalizacion()">
      <q-card-section>
        <div class="text-h6 grey-10">Canalizar con Psicologo</div>
        <!-- <div class="text-subtitle2">by John Doe</div> -->
      </q-card-section>

      <q-card-section>
        <q-select
          class="full-width"
          dense
          filled
          v-model="psicologo_id"
          use-input
          input-debounce="0"
          label="Psicologo"
          :options="psicologos"
          @filter="filterFn"
          @filter-abort="abortFilterFn"
          :emit-value="true"
          :map-options="true"
          :option-value="
            (psicologo) => (psicologo === null ? null : psicologo?.id)
          "
          :option-label="
            (psicologo) =>
              psicologo === null
                ? 'Null value'
                : `${psicologo.nombres} ${psicologo.apellidoM} ${psicologo.apellidoP}`
          "
        >
          <template v-slot:no-option>
            <q-item>
              <q-item-section class="text-grey"> No results </q-item-section>
            </q-item>
          </template>
        </q-select>
      </q-card-section>

      <q-separator dark />

      <q-card-actions align="right">
        <!-- <q-btn flat>Action 1</q-btn> -->
        <q-btn flat color="secondary" type="submit">Confirmar</q-btn>
      </q-card-actions>
    </q-form>
  </q-card>
</template>
<script>
import { defineComponent, computed, ref } from "vue";
import { successConfig, errorConfig } from "src/constants/toast";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
export default defineComponent({
  name: "CanalizacioForm",
  props: {
    tutoria_id: { required: true, type: String || Number },
  },
  emits: ["canalizado"],
  setup(props, { emit }) {
    const store = useStore();
    const $q = useQuasar();
    const psicologo_id = ref(null);

    const handleCanalizacion = async () => {
      $q.loading.show();
      const res = await store.dispatch("admin/canalizar", {
        reporte_id: props.tutoria_id,
        psicologo_id: psicologo_id.value,
      });
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Tutoria Canalizada" });
        emit("canalizado");
      } else {
        $q.notify({
          ...errorConfig,
          message: "Ooops algo salio mal! Porfavor Intente de nuevo.",
        });
        emit("canalizado");
      }
    };
    const psicologos = computed(() => store.getters["admin/psicologos"]);
    const search = async (val) => {
      await store.dispatch("general/search", {
        table: "psicologos",
        field: "nombres",
        term: val,
        module: "admin",
        collection: "psicologos",
        commit: "SET_PSICOLOGOS",
        active: 1,
      });
    };
    const filterFn = (val, update, abort) => {
      // call abort() at any time if you can't retrieve data somehow
      update(() => {
        if (val !== "") {
          search(val);
          console.log(val);
        }
      });
    };
    const abortFilterFn = () => {
      // console.log('delayed filter aborted')
    };
    return {
      psicologo_id,
      filterFn,
      abortFilterFn,
      handleCanalizacion,
      psicologos,
    };
  },
});
</script>
