<template>
  <monitor-form :edit="true" :monitorId="$route.params.id"></monitor-form>
</template>
<script>
import MonitorForm from "src/components/AlumnoMonitor/MonitorForm.vue";
export default {
  components: { MonitorForm },
  setup() {
    return {};
  },
};
</script>
