<template>
  <monitor-form :edit="false"></monitor-form>
</template>
<script>
import MonitorForm from "src/components/AlumnoMonitor/MonitorForm.vue";
export default {
  components: { MonitorForm },
  setup() {},
};
</script>
