<template>
  <alumnos-table
    :tutorId="$route.params.id || tutorId"
    type="Monitores"
    :activos="true"
  />
</template>

<script>
import { defineComponent, computed } from "vue";
import AlumnosTable from "src/components/Tutores/AlumnosTable.vue";
import { useStore } from "vuex";
export default defineComponent({
  name: "TutoresAlumnosMonitores",
  components: { AlumnosTable },
  setup() {
    const store = useStore();
    const tutorId = computed(() => store.getters["tutores/tutorId"]);
    return {
      tutorId,
    };
  },
});
</script>
