<template>
  <reporte-final-form></reporte-final-form>
</template>

<script>
import ReporteFinalForm from "src/components/Psicologos/ReporteFinalForm.vue";
export default {
  components: {
    ReporteFinalForm,
  },
};
</script>

<style></style>
