<template>
  <reportes-finales-table></reportes-finales-table>
</template>

<script>
import ReportesFinalesTable from "src/components/Psicologos/ReportesFinalesTable.vue";
export default {
  components: { ReportesFinalesTable },
};
</script>

<style></style>
