<template>
  <entrevistas-table></entrevistas-table>
</template>

<script>
import EntrevistasTable from "src/components/Psicologos/EntrevistasTable.vue";
export default {
  components: { EntrevistasTable },
};
</script>

<style></style>
