<template>
  <entrevistas-form></entrevistas-form>
</template>

<script>
import EntrevistasForm from "src/components/Psicologos/EntrevistasForm.vue";
export default {
  components: { EntrevistasForm },
};
</script>

<style></style>
