<template>
  <table-finales></table-finales>
</template>

<script>
import TableFinales from "src/components/Tutores/ReportesFinalesMonitor/Table.vue";
export default {
  components: {
    TableFinales,
  },
};
</script>

<style></style>
Table
