<template>
  <reporte-final-form :reporte_id="$route.params.id" :tutor="true"></reporte-final-form>
</template>

<script>
import ReporteFinalForm from "src/components/AlumnoMonitor/ReporteFinalForm.vue";
export default {
  components: { ReporteFinalForm },
};
</script>

<style></style>
