<template>
  <reporte-final-table></reporte-final-table>
</template>

<script>
import ReporteFinalTable from "src/components/AlumnoMonitor/ReporteFinalTable.vue";
export default {
  components: {
    ReporteFinalTable,
  },
};
</script>

<style></style>
