<template>
  <q-form @submit.prevent="handleCreateAnuncio()">
    <div>
      <p class="q-ml-md q-mt-lg text-subtitle1">Creación de Anuncio</p>
    </div>
    <div class="row">
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="anuncio.titulo"
            :rules="[
              (val) =>
                (val && val.length > 0) || 'Escriba el titulo del anuncio',
            ]"
            label="Título*"
          />
        </q-item>
      </div>

      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="anuncio.link"
            type="url"
            label="URL*"
          />
        </q-item>
      </div>

      <div class="col-4">
        <q-item>
          <q-file
            accept=".jpg,.png,.jpeg"
            dense
            filled
            class="full-width"
            bottom-slots
            v-model="anuncio.imagen"
            label="Imagen"
            counter
          >
            <template v-slot:prepend>
              <q-icon name="cloud_upload" @click.stop />
            </template>
            <template v-slot:append>
              <q-icon
                name="close"
                @click.stop="anuncio.imagen = null"
                class="cursor-pointer"
              />
            </template>
          </q-file>
        </q-item>
      </div>

      <div class="col-12">
        <div class="q-pa-md q-gutter-sm">
          <q-editor
            height="130px"
            placeholder="Descripción*"
            v-model="anuncio.descripcion"
            min-height="5rem"
          />
        </div>
      </div>
    </div>

    <div class="row justify-end q-mt-md">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          color="secondary"
          icon="mdi-content-save"
          label="Aceptar"
          type="submit"
        />
      </div>
    </div>
  </q-form>
</template>

<script>
import { onMounted, ref, reactive, computed } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";

export default {
  setup() {
    // * Declarations
    const store = useStore();
    const router = useRouter();
    const $q = useQuasar();
    /*************************** */
    //* Variables
    const anuncio = reactive({
      id: "",
      titulo: "",
      descripcion: "",
      link: "",
      imagen: null,
    });

    const createAnuncio = () => store.dispatch("admin/createAnuncio", anuncio);
    async function handleCreateAnuncio() {
      // return console.log(anuncio)
      $q.loading.show();
      const res = await createAnuncio();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Anuncio Creado" });
        // event.target.reset();
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    return {
      anuncio,
      handleCreateAnuncio,
    };
  },
};
</script>

<style scoped></style>
