<template>
  <div class="q-pa-md">
    <q-table
      v-if="anuncios"
      title="Anuncios"
      :rows="anuncios"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :filter="filter"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right>
        <q-btn
          v-if="searching"
          color="secondary"
          padding="10px"
          size="xs"
          icon="mdi-refresh"
          label="restablecer"
          class="q-mr-md"
          @click="refresh()"
        />
        <q-input
          borderles
          dense
          debounce="300"
          v-model="search_term"
          placeholder="Buscar"
          @keyup.enter="search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <div>
              <q-btn
                @click="viewAnuncio(props.row)"
                dense
                color="light-blue-10"
                icon="mdi-eye"
              />
              <q-tooltip> Ver Reporte </q-tooltip>
            </div>
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-pencil"
                :to="`/anuncios/actualizar/${props.row.id}`"
              />
              <q-tooltip> Editar </q-tooltip>
            </div>
            <div>
              <q-btn
                dense
                color="red-9"
                icon="mdi-delete"
                @click="handleDeleteAnuncio(props.row)"
              />
              <q-tooltip> Editar </q-tooltip>
            </div>
          </div>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>

    <!-- Card modal -->
    <q-dialog v-model="cardModal">
      <anuncio :anuncio="anuncio" />
    </q-dialog>
  </div>
</template>

<script>
import Anuncio from "src/components/General/Anuncio.vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { formatDate } from "src/filters/date";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";

const columns = [
  {
    name: "titulo",
    required: true,
    label: "Titulo",
    align: "left",
    field: (row) => row.titulo,
    format: (val) => `${val}`,
    sortable: true,
  },
  {
    name: "created_at",
    align: "left",
    label: "Fecha Creado",
    field: "created_at",
    format: (val) => formatDate(val),
    sortable: true,
  },
  {
    name: "updated_at",
    align: "left",
    label: "Fecha Actualizado",
    field: "updated_at",
    format: (val) => formatDate(val),
    sortable: true,
  },
  {
    name: "acciones",
    required: true,
    label: "Acciones",
    align: "left",
    field: (row) => row.name,
    format: (val) => `${val}`,
    sortable: true,
  },
];

export default {
  components: { Anuncio },
  setup() {
    // * Declarations
    const store = useStore();
    const $q = useQuasar();
    /*************************/
    const rows = ref([]);
    const filter = ref("");
    const cardModal = ref(false);
    const anuncio = ref({});
    const loading = ref(true);
    const search_term = ref("");
    const searching = ref(false);
    //* Initial Fetch

    onMounted(async () => {
      loading.value = true;
      await store.dispatch("admin/getAnuncios");
      loading.value = false;
    });

    //* Getters
    const anuncios = computed(() => store.getters["admin/anuncios"]);
    const pagination = computed(
      () => store.getters["admin/paginationAnuncios"]
    );
    /*************************/

    //* Table Logic

    async function handleChangePagination(direction) {
      loading.value = true;
      await store.dispatch("general/changePagination", {
        direction: direction,
        module: "admin",
        collection: "anuncios",
        commit: "SET_ANUNCIOS",
      });
      loading.value = false;
    }
    function viewItem(data) {
      // console.log(data);
    }
    function viewAnuncio(data) {
      cardModal.value = true;
      anuncio.value = data;
    }
    async function search() {
      loading.value = true;
      await store.dispatch("general/search", {
        table: "anuncios",
        field: "titulo",
        term: search_term.value,
        module: "admin",
        collection: "anuncios",
        commit: "SET_ANUNCIOS",
      });
      searching.value = true;
      loading.value = false;
    }
    async function refresh() {
      loading.value = true;
      search_term.value = "";
      await store.dispatch("admin/getAnuncios", { force: true });
      searching.value = false;
      loading.value = false;
    }
    const deleteAnuncio = (id) => store.dispatch("admin/eliminarAnuncio", id);
    const handleDeleteAnuncio = async (id) => {
      $q.loading.show();
      const res = await deleteAnuncio(id);
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Anuncio Eliminado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    return {
      filter,
      loading,
      pagination,
      columns,
      rows,
      viewItem,
      anuncios,
      handleChangePagination,
      viewAnuncio,
      cardModal,
      anuncio,
      search,
      search_term,
      searching,
      refresh,
      handleDeleteAnuncio,
    };
  },
};
</script>
