<template>
  <anuncio-form :id="$route.params.id"></anuncio-form>
</template>
<script>
import AnuncioForm from "src/components/Anuncios/AnuncioForm.vue";
export default {
  components: { AnuncioForm },
  setup() {},
};
</script>
