<template>
  <q-form @submit.prevent="handleCreatePsicologo()">
    <div>
      <p class="q-ml-md q-mt-lg text-subtitle1">
        Datos Generales del Psicólogo
      </p>
    </div>
    <div class="row">
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="psicologo.nombres"
            :rules="[(val) => (val && val.length > 0) || 'Escriba sus nombres']"
            label="Nombres*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="psicologo.apellidoP"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido paterno',
            ]"
            label="Apellido Paterno*"
          />
        </q-item>
      </div>
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="psicologo.apellidoM"
            :rules="[
              (val) => (val && val.length > 0) || 'Escriba su apellido materno',
            ]"
            label="Apellido Materno*"
          />
        </q-item>
      </div>

      <div class="col-12">
        <div class="q-pa-md q-gutter-sm">
          <q-editor
            height="90px"
            placeholder="Descripción*"
            v-model="psicologo.descripcion"
            min-height="5rem"
          />
        </div>
      </div>
    </div>

    <div>
      <p class="q-ml-md q-mt-lg text-subtitle1">Datos de la Cuenta</p>
    </div>

    <div class="row">
      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="psicologo.nombreUsuario"
            :rules="[(val) => (val && val.length > 0) || 'Escriba su usuario']"
            label="Nombre de Usuario*"
          />
        </q-item>
      </div>

      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            type="email"
            v-model="psicologo.email"
            label="Correo Electrónico*"
          />
        </q-item>
      </div>

      <div class="col-4">
        <q-item>
          <q-input
            dense
            filled
            class="full-width"
            v-model="psicologo.password"
            :type="isPwd ? 'password' : 'text'"
            :rules="[
              (val) =>
                (val && val.length > 7) ||
                'La contraseña debe de ser de 7 caracteres',
            ]"
            label="Contraseña*"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
        </q-item>
      </div>
    </div>
    <div class="row justify-end q-mt-md">
      <div class="q-pa-md q-gutter-sm">
        <q-btn
          color="secondary"
          icon="mdi-content-save"
          label="Aceptar"
          type="submit"
        />
      </div>
    </div>
  </q-form>
</template>

<script>
import { onMounted, ref, reactive, computed } from "vue";
import { useStore } from "vuex";
// import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";

export default {
  setup() {
    // * Declarations
    const store = useStore();
    // const router = useRouter();
    const $q = useQuasar();
    /*************************** */
    //* Variables
    const psicologo = reactive({
      nombreUsuario: "",
      email: "",
      password: "",
      nombres: "",
      apellidoP: "",
      apellidoM: "",
      descripcion: "",
    });

    const createPsicologo = () =>
      store.dispatch("admin/createPsicologo", psicologo);
    async function handleCreatePsicologo() {
      // console.log(psicologo)
      $q.loading.show();
      const res = await createPsicologo();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Psicologo Creado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    return {
      psicologo,
      isPwd: ref(true),
      handleCreatePsicologo,
    };
  },
};
</script>

<style scoped></style>
