<template>
  <div class="q-pa-md">
    <q-table
      v-if="psicologos"
      title="Cuentas de Psicologos "
      :rows="psicologos"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right>
         <q-btn
          v-if="searching"
          color="secondary"
          padding="10px"
          size="xs"
          icon="mdi-refresh"
          label="restablecer"
          class="q-mr-md"
          @click="refresh()"
        />
        <q-input
          borderles
          dense
          debounce="300"
          v-model="search_term"
          placeholder="Buscar"
          @keyup.enter="search"
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <div>
              <q-btn
                dense
                color="light-blue-10"
                class="q-ml-lg"
                icon="mdi-eye"
                @click="viewPsicologo(props.row)"
              />
              <q-tooltip> Ver Perfil </q-tooltip>
            </div>
            <div>
              <q-btn
                dense
                color="teal-8"
                icon="mdi-pencil"
                :to="`/psicologos/actualizar/${props.row.id}`"
              />
              <q-tooltip> Editar Perfil </q-tooltip>
            </div>
            <div>
              <q-btn
                dense
                color="red-8"
                icon="mdi-account-remove"
                @click="handleDeactivate(props.row)"
              />
              <q-tooltip> Deshabilitar Psicologo </q-tooltip>
            </div>
          </div>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
    <!-- Card modal -->
    <q-dialog v-model="cardModal">
      <perfil :profile="psicologo" type="Tutor" />
    </q-dialog>
  </div>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
import Perfil from "src/components/General/Perfil.vue";
const columns = [
  {
    name: "nombres",
    required: true,
    label: "Nombres",
    align: "left",
    field: (row) => row.nombres,
    format: (val) => `${val}`,
    sortable: true,
  },
  {
    name: "apellidoP",
    align: "left",
    label: "Apellido Paterno",
    field: "apellidoP",
    sortable: true,
  },
  {
    name: "apellidoM",
    align: "left",
    label: "Apellido Materno",
    field: "apellidoM",
    sortable: true,
  },
  {
    name: "acciones",
    required: true,
    label: "Acciones",
    align: "left",
    field: (row) => row.name,
    format: (val) => `${val}`,
    sortable: true,
  },
];

export default {
  components: { Perfil },
  setup() {
    // * Declarations
    const store = useStore();
    const $q = useQuasar();
    /*************************/
    const filter = ref("");
    const loading = ref(true);

    const cardModal = ref(false);
    const psicologo = ref({});
    const search_term = ref("");
    const searching = ref(false);

    //* Initial Fetch

    onMounted(async () => {
      loading.value = true;
      await store.dispatch("admin/getPsicologos");
      loading.value = false;
    });

    //* Getters
    const psicologos = computed(() => store.getters["admin/psicologos"]);
    const pagination = computed(() => store.getters["admin/paginationP"]);
    /*************************/

    //* Table Logic

    async function handleChangePagination(direction) {
      loading.value = true;
      await store.dispatch("general/changePagination", {
        direction: direction,
        module: "admin",
        collection: "psicologos",
        commit: "SET_PSICOLOGOS",
      });
      loading.value = false;
    }
    async function handleDeactivate(psicologo) {
      loading.value = true;
      const res = await store.dispatch("admin/desactivarPsicologo", psicologo);
      loading.value = false;
      if (res) {
        $q.notify({ ...successConfig, message: "Psicologo Desactivado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    async function search() {
      loading.value = true;
      await store.dispatch("general/search", {
        table: "psicologos",
        field: "nombres",
        active: 1,
        term: search_term.value,
        module: "admin",
        collection: "psicologos",
        commit: "SET_PSICOLOGOS",
      });
      searching.value = true;
      loading.value = false;
    }
    async function refresh() {
      loading.value = true;
      search_term.value = "";
      await store.dispatch("admin/getPsicologos", { force: true });
      searching.value = false;
      loading.value = false;
    }
    function viewPsicologo(data) {
      psicologo.value = data;
      cardModal.value = true;
    }
    /*************************/

    const test = (i) => console.log(i);
    return {
      filter,
      loading,
      pagination,
      columns,
      psicologos,
      psicologo,
      test,
      handleChangePagination,
      handleDeactivate,
      viewPsicologo,
      cardModal,
      search,
      search_term,
      searching,
      refresh,
    };
  },
};
</script>
