<template>
  <psicologo-form :id="$route.params.id"></psicologo-form>
</template>
<script>
import PsicologoForm from "src/components/Psicologos/PsicologoForm.vue";
export default {
  components: { PsicologoForm },
  setup() {},
};
</script>
