<template>
  <div v-if="loading" class="row justify-center">
    <q-spinner-orbit color="blue" size="xl" />
  </div>
  <q-card
    v-if="!error"
    class="my-card q-ml-md q-mr-md q-mb-md q-mt-md"
    style="height: 100vh"
  >
    <object :data="pdf" type="application/pdf" width="100%" height="100%">
      <iframe
        :src="`https://docs.google.com/viewer?url=${pdf}&embedded=true`"
        width="100%"
        height="500px"
      ></iframe>
    </object>
    <!-- <primer-reporte-form v-if="tipo_reporte == 1"></primer-reporte-form>
    <segundo-reporte-form v-if="tipo_reporte == 2"></segundo-reporte-form>
    <reporte-final-form v-if="tipo_reporte == 3"></reporte-final-form> -->
  </q-card>
  <div v-else>No se encontro el reporte o ocurrio un error inesperado.</div>
</template>

<script>
import { ref, onMounted } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";

export default {
  setup() {
    const pdf = ref(null);
    const loading = ref(true);
    const error = ref(null);
    const reporte = ref({});
    const route = useRoute();
    const store = useStore();

    onMounted(async () => {
      const server_pdf = await store.dispatch(
        "monitores/previewReporteSesion",
        route.params.id
      );

      loading.value = false;
      if (server_pdf) {
        console.log(server_pdf);
        pdf.value = server_pdf;
      } else {
        error.value = true;
      }
    });
    return {
      pdf,
      loading,
      error,
      reporte,
    };
  },
};
</script>
