<template>
  <reporte-sesion-form></reporte-sesion-form>
</template>

<script>
import ReporteSesionForm from "src/components/AlumnoMonitor/ReporteSesionForm.vue";
export default {
  components: {
    ReporteSesionForm,
  },
};
</script>

<style></style>
