<template>
  <reporte-sesion-table></reporte-sesion-table>
</template>

<script>
import ReporteSesionTable from "src/components/AlumnoMonitor/ReporteSesionTable.vue";
export default {
  components: { ReporteSesionTable },
};
</script>

<style></style>
