<template>
  <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
    <q-card-section>
      <div>
        <p class="q-mt-lg q-ml-md text-subtitle1">Nuevo Reporte de Parcial</p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div>
        <p class="q-ml-md q-mt-lg text-regular">
          Seleccione el tipo de reporte que desea:
        </p>
      </div>

      <div class="row">
        <q-separator />
        <div class="col-4">
          <q-item>
            <q-select
              dense
              filled
              class="full-width"
              :emit-value="true"
              :map-options="true"
              :option-value="
                (reporte) => (reporte === null ? null : reporte.tipo)
              "
              :option-label="
                (reporte) => (reporte === null ? 'Null value' : reporte.nombre)
              "
              v-model="tipo_reporte"
              :options="tipos_reporte"
              label="Tipo de Reporte*"
              :rules="[
                (val) =>
                  val || 'Debes confirmar el tipo de reporte para generar',
              ]"
            />
          </q-item>
        </div>
      </div>
    </q-card-section>

    <primer-reporte-form v-if="tipo_reporte == 1"></primer-reporte-form>
    <segundo-reporte-form v-if="tipo_reporte == 2"></segundo-reporte-form>
    <reporte-final-form v-if="tipo_reporte == 3"></reporte-final-form>
  </q-card>
</template>

<script>
import { ref, onMounted } from "vue";
import { TIPOS_REPORTE } from "src/constants/selects";
import PrimerReporteForm from "src/components/Tutores/ReportesParciales/PrimerReporteForm.vue";
import SegundoReporteForm from "src/components/Tutores/ReportesParciales/SegundoReporteForm.vue";
import ReporteFinalForm from "src/components/Tutores/ReportesParciales/ReporteFinalForm.vue";
export default {
  components: {
    PrimerReporteForm,
    SegundoReporteForm,
    ReporteFinalForm,
  },
  setup() {
    const tipos_reporte = TIPOS_REPORTE;
    const tipo_reporte = ref(0);
    return {
      tipos_reporte,
      tipo_reporte,
    };
  },
};
</script>
