<template>
  <div v-if="loading" class="row justify-center">
    <q-spinner-orbit color="blue" size="xl" />
  </div>
  <q-card v-if="!error" class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
    <!-- {{ reporte }} -->
    <primer-reporte-form
      :reporte_data="reporte"
      v-if="reporte.tipo == 1"
    ></primer-reporte-form>
    <segundo-reporte-form
      :reporte_data="reporte"
      v-if="reporte.tipo == 2"
    ></segundo-reporte-form>
    <reporte-final-form
      :reporte_data="reporte"
      v-if="reporte.tipo == 3"
    ></reporte-final-form>
  </q-card>
  <div v-else>No se encontro el reporte o ocurrio un error inesperado.</div>
</template>

<script>
import { ref, onMounted } from "vue";
import { useRoute } from "vue-router";
import { useStore } from "vuex";
import PrimerReporteForm from "src/components/Tutores/ReportesParciales/PrimerReporteForm.vue";
import SegundoReporteForm from "src/components/Tutores/ReportesParciales/SegundoReporteForm.vue";
import ReporteFinalForm from "src/components/Tutores/ReportesParciales/ReporteFinalForm.vue";
export default {
  components: {
    PrimerReporteForm,
    SegundoReporteForm,
    ReporteFinalForm,
  },
  setup() {
    const loading = ref(true);
    const error = ref(null);
    const reporte = ref({ tipo: 0 });
    const route = useRoute();
    const store = useStore();

    onMounted(async () => {
      const reporteExistente = await store.dispatch(
        "tutores/getReporteP",
        route.params.id
      );
      if (reporteExistente) {
        reporte.value = JSON.parse(JSON.stringify(reporteExistente));
        loading.value = false;
      } else {
        error.value = true;
        loading.value = false;
      }
    });
    return {
      error,
      loading,
      reporte,
    };
  },
};
</script>
