<template>
  <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
    <q-card-section>
      <div>
        <p class="q-ml-md q-mt-lg text-regular">
          Seleccione el tipo de reporte que desea:
        </p>
      </div>

      <div class="row">
        <q-separator />
        <div class="col-4">
          <q-item>
            <q-select
              @update:model-value="rerenderTable()"
              dense
              filled
              class="full-width"
              :emit-value="true"
              :map-options="true"
              :option-value="
                (reporte) => (reporte === null ? null : reporte.tipo)
              "
              :option-label="
                (reporte) => (reporte === null ? 'Null value' : reporte.nombre)
              "
              v-model="tipo_reporte"
              :options="tipos_reporte"
              label="Tipo de Reporte*"
              :rules="[
                (val) =>
                  val || 'Debes confirmar el tipo de reporte para generar',
              ]"
            />
          </q-item>
        </div>
      </div>
    </q-card-section>
  </q-card>

  <reportes-parciales-table
    :key="table_key"
    :tipo_reporte="tipo_reporte"
    :tutor_id="$route.params.id || null"
    v-if="tipo_reporte != 0"
  ></reportes-parciales-table>
</template>

<script>
import { ref } from "vue";
import { TIPOS_REPORTE } from "src/constants/selects";
import ReportesParcialesTable from "src/components/Tutores/ReportesParciales/ReportesParcialesTable.vue";
export default {
  components: {
    ReportesParcialesTable,
  },
  setup() {
    const tipo_reporte = ref(0);
    const tipos_reporte = TIPOS_REPORTE;
    const table_key = ref(0);

    function rerenderTable() {
      table_key.value += 1;
    }
    return {
      rerenderTable,
      table_key,
      tipos_reporte,
      tipo_reporte,
    };
  },
};
</script>

<style></style>
