<template>
  <router-view />
</template>
<script>
import { defineComponent } from "vue";
import { mapActions, mapGetters } from "vuex";
export default defineComponent({
  name: "App",

  computed: {
    ...mapGetters({
      tokenExists: "auth/tokenExists",
    }),
  },
  methods: {
    ...mapActions({
      validateSession: "auth/validateSession",
    }),
  },
  // mounted() {
  //     this.validateSession()
  // },
});
</script>

<style>
body,
html {
  height: 100%;
  margin: 0;
}
</style>
