<template>
  <div class="q-pa-md">
    <q-table
      v-if="administradores"
      title="Administradores"
      :rows="administradores"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right="props">
        <q-btn
          flat
          round
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        >
          <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
            >{{ props.inFullscreen ? "Reducir" : "Expandir" }}
          </q-tooltip>
        </q-btn>
      </template>

      <template v-slot:body-cell-acciones="props">
        <q-td :props="props">
          <div class="q-gutter-sm row">
            <!-- :to="`/tutores/reportesI/update/${props.row.id}`" -->
            <div>
              <q-btn
                dense
                color="teal-9"
                icon="mdi-key"
                @click="openModal(props.row.user_id)"
              />
              <q-tooltip> Editar Reporte </q-tooltip>
            </div>
          </div>
        </q-td>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.totalPages > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
    <q-dialog v-model="cardModal">
      <reset-password @resetDone="closeModal" :id="user_id"></reset-password>
    </q-dialog>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import ResetPassword from "src/components/General/ResetPassword.vue";
import { formatDate } from "src/filters/date";

const columns = [
  {
    name: "nombre",
    required: true,
    label: "Nombres",
    align: "left",
    field: (row) => row.nombres,
    format: (val) => `${val}`,
  },
  {
    name: "apellidoP",
    align: "left",
    label: "Apellido Paterno",
    field: "apellidoP",
  },
  {
    name: "apellidoM",
    align: "left",
    label: "Apellido Materno",
    field: "apellidoM",
  },
  {
    name: "email",
    required: true,
    label: "Correo",
    align: "left",
    field: (row) => row.user.email,
    format: (val) => `${val}`,
  },
  {
    name: "acciones",
    required: true,
    label: "Acciones",
    align: "left",
  },
];
export default defineComponent({
  name: "AdministradoresTable",
  components: { ResetPassword },
  setup(props) {
    const store = useStore();
    const $q = useQuasar();
    const user_id = ref(0);
    const loading = ref(false);
    const cardModal = ref(false);
    onMounted(async () => {
      loading.value = true;
      await store.dispatch("admin/getAdministradores");
      loading.value = false;
    });
    //* Getters
    const administradores = computed(
      () => store.getters["admin/administradores"]
    );
    const pagination = computed(() => store.getters["admin/paginationA"]);

    const handleChangePagination = async (direction) => {
      loading.value = true;
      await store.dispatch("general/changePagination", {
        direction: direction,
        module: "admin",
        collection: "administradores",
        commit: "SET_ADMINISTRADORES",
      });
      loading.value = false;
    };
    const openModal = (id) => {
      user_id.value = id;
      cardModal.value = true;
    };
    const closeModal = () => {
      cardModal.value = false;
      user_id.value = 0;
    };
    return {
      handleChangePagination,
      loading,
      administradores,
      pagination,
      columns,
      user_id,
      cardModal,
      openModal,
      closeModal,
    };
  },
});
</script>
