<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> Tutorias UPB </q-toolbar-title>
        <q-space />
        <div> {{ primaryRole }} </div>
      </q-toolbar>
    </q-header> -->

    <q-header
      elevated
      reveal
      :class="$q.dark.isActive ? 'header_dark' : 'header_normal'"
    >
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        <q-toolbar-title @click="toHome()"> Tutorías UPB </q-toolbar-title>
        <!-- <div>{{ primaryRole }}</div> -->
        <div>
          {{
            currentUserRole == "Alumno_Monitor"
              ? "Alumno Monitor"
              : currentUserRole
          }}
        </div>
        <q-btn
          class="q-mr-xs"
          flat
          round
          @click="$q.dark.toggle()"
          :icon="$q.dark.isActive ? 'nights_stay' : 'wb_sunny'"
        />
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      :width="270"
      :breakpoint="400"
      class="text-white bg-grey-10"
    >
      <q-scroll-area
        v-if="currentUserRole == 'Admin'"
        style="
          height: calc(100% - 150px);
          margin-top: 150px;
          border-right: 1px solid #ddd;
        "
      >
        <q-item clickable v-ripple active-class="my-menu-link" exact to="/">
          <q-item-section avatar>
            <q-icon name="mdi-home" />
          </q-item-section>
          <q-item-section> Inicio </q-item-section>
        </q-item>
        <q-expansion-item
          v-for="(tab, index) in admin_tabs"
          :key="index"
          :icon="tab.icon"
          :label="tab.title"
          header-class="text-white bg-grey-10"
          expand-icon-class="text-white"
          :content-inset-level="0.5"
        >
          <q-list padding-bottom>
            <q-item
              v-for="(link, index) in tab.links"
              :key="index"
              clickable
              v-ripple
              active-class="my-menu-link"
              exact
              :to="link.route"
            >
              <q-item-section avatar>
                <q-icon :name="link.icon" />
              </q-item-section>
              <q-item-section> {{ link.label }} </q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>
      </q-scroll-area>

      <q-scroll-area
        v-if="currentUserRole == 'Tutor'"
        style="
          height: calc(100% - 150px);
          margin-top: 150px;
          border-right: 1px solid #ddd;
        "
      >
        <q-item clickable v-ripple active-class="my-menu-link" exact to="/">
          <q-item-section avatar>
            <q-icon name="mdi-home" />
          </q-item-section>
          <q-item-section> Inicio </q-item-section>
        </q-item>
        <q-expansion-item
          v-for="(tab, index) in tutor_tabs"
          :key="index"
          :icon="tab.icon"
          :label="tab.title"
          header-class="text-white bg-grey-10"
          expand-icon-class="text-white"
          :content-inset-level="0.5"
        >
          <q-list padding-bottom>
            <q-item
              v-for="(link, index) in tab.links"
              :key="index"
              clickable
              v-ripple
              active-class="my-menu-link"
              exact
              :to="link.route"
            >
              <q-item-section avatar>
                <q-icon :name="link.icon" />
              </q-item-section>
              <q-item-section> {{ link.label }} </q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>
      </q-scroll-area>
      <q-scroll-area
        v-if="currentUserRole == 'Alumno_Monitor'"
        style="
          height: calc(100% - 150px);
          margin-top: 150px;
          border-right: 1px solid #ddd;
        "
      >
        <q-item clickable v-ripple active-class="my-menu-link" exact to="/">
          <q-item-section avatar>
            <q-icon name="mdi-home" />
          </q-item-section>
          <q-item-section> Inicio </q-item-section>
        </q-item>
        <q-expansion-item
          v-for="(tab, index) in monitor_tabs"
          :key="index"
          :icon="tab.icon"
          :label="tab.title"
          header-class="text-white bg-grey-10"
          expand-icon-class="text-white"
          :content-inset-level="0.5"
        >
          <q-list padding-bottom>
            <q-item
              v-for="(link, index) in tab.links"
              :key="index"
              clickable
              v-ripple
              active-class="my-menu-link"
              exact
              :to="link.route"
            >
              <q-item-section avatar>
                <q-icon :name="link.icon" />
              </q-item-section>
              <q-item-section> {{ link.label }} </q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>
      </q-scroll-area>
      <q-scroll-area
        v-if="currentUserRole == 'Psicologo'"
        style="
          height: calc(100% - 150px);
          margin-top: 150px;
          border-right: 1px solid #ddd;
        "
      >
        <q-item clickable v-ripple active-class="my-menu-link" exact to="/">
          <q-item-section avatar>
            <q-icon name="mdi-home" />
          </q-item-section>
          <q-item-section> Inicio </q-item-section>
        </q-item>
        <q-expansion-item
          v-for="(tab, index) in psicologo_tabs"
          :key="index"
          :icon="tab.icon"
          :label="tab.title"
          header-class="text-white bg-grey-10"
          expand-icon-class="text-white"
          :content-inset-level="0.5"
        >
          <q-list padding-bottom>
            <q-item
              v-for="(link, index) in tab.links"
              :key="index"
              clickable
              v-ripple
              active-class="my-menu-link"
              exact
              :to="link.route"
            >
              <q-item-section avatar>
                <q-icon :name="link.icon" />
              </q-item-section>
              <q-item-section> {{ link.label }} </q-item-section>
            </q-item>
          </q-list>
        </q-expansion-item>
      </q-scroll-area>
      <q-img
        class="absolute-top"
        src="~assets/img/mat_back.jpg"
        style="height: 150px"
      >
        <div class="absolute-top bg-transparent">
          <div v-if="currentUserRole == 'Tutor'">
            <div class="row justify-center items-center">
              <q-avatar size="56px" class="q-mb-sm">
                <img v-if="TutorProfile.imagen" :src="TutorProfile.imagen" />
                <img v-else src="avatar.png" aria-placeholder="image" />
              </q-avatar>
            </div>
            <div class="row justify-center items-center">
              <div>
                <p class="text-weight-bold">
                  {{ TutorProfile.nombreCompleto }}
                </p>
              </div>
            </div>
          </div>

          <div v-if="currentUserRole == 'Admin'">
            <div class="row justify-center items-center">
              <q-avatar size="56px" class="q-mb-sm">
                <img v-if="AdminProfile.imagen" :src="AdminProfile.imagen" />
                <img v-else src="avatar.png" aria-placeholder="image" />
              </q-avatar>
            </div>
            <div class="row justify-center items-center">
              <div>
                <p class="text-weight-bold">
                  {{ AdminProfile.nombres }} {{ AdminProfile.apellidoP }}
                  {{ AdminProfile.apellidoM }}
                </p>
              </div>
            </div>
          </div>

          <div v-if="currentUserRole == 'Alumno_Monitor'">
            <div class="row justify-center items-center">
              <q-avatar size="56px" class="q-mb-sm">
                <img src="avatar.png" aria-placeholder="image" />
              </q-avatar>
            </div>
            <div class="row justify-center items-center">
              <div>
                <p class="text-weight-bold">
                  {{ MonitorProfile.nombres }} {{ MonitorProfile.apellidoP }}
                  {{ MonitorProfile.apellidoM }}
                </p>
              </div>
            </div>
          </div>
          <div v-if="currentUserRole == 'Psicologo'">
            <div class="row justify-center items-center">
              <q-avatar size="56px" class="q-mb-sm">
                <img src="avatar.png" aria-placeholder="image" />
              </q-avatar>
            </div>
            <div class="row justify-center items-center">
              <div>
                <p class="text-weight-bold">
                  {{ PsicologoProfile.nombres }}
                  {{ PsicologoProfile.apellidoP }}
                  {{ PsicologoProfile.apellidoM }}
                </p>
              </div>
            </div>
          </div>

          <!-- <div class="row justify-center items-center">
            <div>
              <q-icon name="mdi-eye-outline" class="sidebar-icon" />
              <q-tooltip transition-show="rotate" transition-hide="rotate">
                Ver Perfil
              </q-tooltip>
            </div>
            <div>
              <q-icon name="mdi-cog" class="sidebar-icon" />
              <q-tooltip transition-show="rotate" transition-hide="rotate">
                Editar Perfil
              </q-tooltip>
            </div>
            <div>
              <q-icon name="mdi-logout" class="sidebar-icon" />
              <q-tooltip transition-show="rotate" transition-hide="rotate">
                Cerrar Sesion
              </q-tooltip>
            </div>
          </div> -->

          <div class="row justify-center items-center">
            <div v-if="currentUserRole == 'Tutor'">
              <q-btn
                dense
                color="blue-grey-9"
                size="12px"
                class="q-ml-dm"
                icon="mdi-eye"
                to="/tutores/perfil"
              />
              <q-tooltip> Ver Perfil </q-tooltip>
            </div>
            <div v-if="currentUserRole == 'Alumno_Monitor'">
              <!--//? Aqui irian botones de editar perfil u otros botones de la pagina de perfil -->
            </div>
            <div>
              <q-btn
                @click="logout()"
                dense
                color="blue-grey-9"
                size="12px"
                class="q-ml-md"
                icon="mdi-logout"
              />
              <q-tooltip> Cerrar Sesión </q-tooltip>
            </div>
          </div>
        </div>
      </q-img>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import { mapActions, mapGetters } from "vuex";
export default defineComponent({
  name: "MainLayout",
  data() {
    return {
      leftDrawerOpen: false,
      admin_tabs: [
        {
          title: "Creación de cuentas",
          icon: "mdi-account-plus",
          links: [
            {
              icon: "mdi-school-outline",
              route: "/tutores/crear",
              label: "Nuevo Tutor",
            },
            {
              icon: "mdi-brain",
              route: "/psicologos/crear",
              label: "Nuevo Psicólogo",
            },
          ],
        },
        {
          title: "Reportes Recibidos",
          icon: "mdi-file-document",
          links: [
            {
              icon: "mdi-file-document-outline",
              route: "/reportesI",
              label: "Reportes Individuales",
            },
            {
              icon: "mdi-file-document-multiple-outline",
              route: "/reportesG",
              label: "Reportes Grupales",
            },
          ],
        },
        {
          title: "Canalizaciones",
          icon: "mdi-file-document",
          links: [
            {
              icon: "mdi-file-document-outline",
              route: "/admin/canalizaciones",
              label: "Canalizaciones Pendientes",
            },
          ],
        },
        {
          title: "Cuentas",
          icon: "mdi-account-group",
          links: [
            {
              icon: "mdi-school-outline",
              route: "/tutores",
              label: "Cuentas de Tutores",
            },
            {
              icon: "mdi-brain",
              route: "/psicologos",
              label: "Cuentas de Psicólogos",
            },
          ],
        },
        {
          title: "Anuncios",
          icon: "mdi-note-plus",
          links: [
            {
              icon: "mdi-note-plus-outline",
              route: "/anuncios/crear",
              label: "Nuevo Anuncio",
            },
            {
              icon: "mdi-note-multiple-outline",
              route: "/anuncios",
              label: "Anuncios en Plataforma",
            },
          ],
        },
        {
          title: "Cuentas Desactivadas",
          icon: "mdi-account-cancel",
          links: [
            {
              icon: "mdi-school-outline",
              route: "/tutores/desactivados",
              label: "Tutores",
            },
            {
              icon: "mdi-brain",
              route: "/psicologos/desactivados",
              label: "Psicólogos",
            },
          ],
        },
        {
          title: "Administradores",
          icon: "mdi-account-cancel",
          links: [
            {
              icon: "mdi-key",
              route: "/admin/administradores",
              label: "Restablecer Contraseñas",
            },
          ],
        },
      ],
      tutor_tabs: [
        {
          title: "Creación de cuentas",
          icon: "mdi-account-plus",
          links: [
            {
              icon: "mdi-account-star-outline",
              route: "/tutores/alumnosM/crear",
              label: "Alumno Monitor",
            },
            {
              icon: "mdi-account-outline",
              route: "/tutores/alumnosT/crear",
              label: "Alumno Tutorado",
            },
          ],
        },
        {
          title: "Cuentas de Alumnos",
          icon: "mdi-account-multiple",
          links: [
            {
              icon: "mdi-account-star-outline",
              route: "/tutores/alumnosM",
              label: "Alumnos Monitores",
            },
            {
              icon: "mdi-account-multiple-outline",
              route: "/tutores/alumnosT",
              label: "Alumnos Tutorados",
            },
          ],
        },
        {
          title: "Reportes Individuales",
          icon: "mdi-file-document",
          links: [
            {
              icon: "mdi-file-plus-outline",
              route: "/tutores/reportesI/crear",
              label: "Nuevo Reporte",
            },
            {
              icon: "mdi-file-document-outline",
              route: "/tutores/reportesI",
              label: "Reportes Individuales",
            },
          ],
        },
        {
          title: "Reportes Grupales",
          icon: "mdi-file-document-multiple",
          links: [
            {
              icon: "mdi-file-plus-outline",
              route: "/tutores/reportesG/crear",
              label: "Nuevo Reporte",
            },
            {
              icon: "mdi-file-document-multiple-outline",
              route: "/tutores/reportesG",
              label: "Reportes Grupales",
            },
          ],
        },
        {
          title: "Reportes Parciales",
          icon: "mdi-file-powerpoint",
          links: [
            {
              icon: "mdi-file-plus-outline",
              route: "/tutores/reportesP/crear",
              label: "Nuevo Reporte Parcial",
            },
            {
              icon: "mdi-file-powerpoint-outline",
              route: "/tutores/reportesP",
              label: "Reportes de Parciales",
            },
          ],
        },
        {
          title: "Reportes Finales Alumno Monitor",
          icon: "mdi-alpha-f-circle",
          links: [
            {
              icon: "mdi-file-document-multiple-outline",
              route: "/tutores/reportesFinalesMonitor",
              label: "Reportes",
            },
          ],
        },
        {
          title: "Cuentas Desactivadas",
          icon: "mdi-account-cancel",
          links: [
            {
              icon: "mdi-school-outline",
              route: "/tutores/alumnosMD",
              label: "Alumnos Monitores",
            },
            {
              icon: "mdi-account-child",
              route: "/tutores/alumnosTD",
              label: "Alumnos Tutorados",
            },
          ],
        },
      ],
      monitor_tabs: [
        {
          title: "Alumnos Tutorados",
          icon: "mdi-account-child",
          links: [
            {
              icon: "mdi-account-supervisor",
              route: "/monitores/alumnosTutorados",
              label: "Ver Alumnos",
            },
          ],
        },
        {
          title: "Reportes Por Sesion",
          icon: "mdi-file-document",
          links: [
            {
              icon: "mdi-file-plus-outline",
              route: "/monitores/reportesSesion/crear",
              label: "Nuevo Reporte",
            },
            {
              icon: "mdi-file-document-outline",
              route: "/monitores/reportesSesion",
              label: "Ver Reportes",
            },
          ],
        },
        {
          title: "Reportes Finales",
          icon: "mdi-file-document",
          links: [
            {
              icon: "mdi-file-plus-outline",
              route: "/monitores/reportesFinales/crear",
              label: "Nuevo Reporte",
            },
            {
              icon: "mdi-file-document-outline",
              route: "/monitores/reportesFinales",
              label: "Ver Reportes",
            },
          ],
        },
      ],
      psicologo_tabs: [
        {
          title: "Canalizaciones",
          icon: "mdi-account-voice",
          links: [
            {
              icon: "mdi-account-supervisor",
              route: "/psicologos/canalizaciones",
              label: "Alunmos Canalizados",
            },
          ],
        },
        {
          title: "Formatos de Entevista",
          icon: "mdi-file-document",
          links: [
            {
              icon: "mdi-file-plus-outline",
              route: "/psicologos/entrevistas/subir_bajar",
              label: "Subir/Descargar",
            },
            {
              icon: "mdi-file-document-outline",
              route: "/psicologos/entrevistas",
              label: "Formatos Subidos",
            },
          ],
        },
        {
          title: "Reportes Finales",
          icon: "mdi-file-document",
          links: [
            {
              icon: "mdi-file-plus-outline",
              route: "/psicologos/reportesFinales/crear",
              label: "Nuevo Reporte",
            },
            {
              icon: "mdi-file-document-outline",
              route: "/psicologos/reportesFinales",
              label: "Reportes Finales",
            },
          ],
        },
      ],
    };
  },
  methods: {
    ...mapActions({
      logout: "auth/logout",
    }),

    toggleLeftDrawer() {
      this.leftDrawerOpen = !this.leftDrawerOpen;
    },
    toHome() {
      this.$router.push("/");
    },
  },
  computed: {
    ...mapGetters({
      primaryRole: "auth/primaryRole",
      currentUserRole: "auth/currentUserRole",
      TutorProfile: "auth/TutorProfile",
      AdminProfile: "auth/AdminProfile",
      MonitorProfile: "auth/MonitorProfile",
      PsicologoProfile: "auth/PsicologoProfile",
    }),
  },
});
</script>

<style scoped>
.sidebar-icon {
  padding: 0.2em;
}

.header_normal {
  background: linear-gradient(
    145deg,
    rgb(43, 147, 165) 15%,
    rgb(21, 57, 102) 70%
  );
}
.header_dark {
  background: linear-gradient(
    145deg,
    rgb(32, 83, 106) 15%,
    rgb(14, 43, 78) 70%
  );
}
</style>
