<template>
  <q-form @submit.prevent="edit ? handleEditAlumnoM() : handleCreateAlumnoM()">
    <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
      <q-card-section>
        <div>
          <p class="q-mt-lg q-ml-md text-subtitle1">Nuevo Alumno Monitor</p>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div>
          <p class="q-ml-md q-mt-lg q-mb-lg text-weight-regular">
            Datos generales del alumno
          </p>
        </div>

        <div class="row">
          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="alumno.nombres"
                :rules="[
                  (val) => (val && val.length > 0) || 'Escriba sus nombres',
                ]"
                label="Nombres*"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="alumno.apellidoP"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Escriba su apellido paterno*',
                ]"
                label="Apellido Paterno*"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="alumno.apellidoM"
                :rules="[
                  (val) =>
                    (val && val.length > 0) || 'Escriba su apellido materno*',
                ]"
                label="Apellido Materno*"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-select
                dense
                filled
                class="full-width"
                :emit-value="true"
                :map-options="true"
                :option-value="
                  (carrera) => (carrera === null ? null : carrera.id)
                "
                :option-label="
                  (carrera) =>
                    carrera === null ? 'Null value' : carrera.carrera
                "
                v-model="alumno.carrera_id"
                :options="carreras"
                label="Carrera*"
                :rules="[
                  (val) =>
                    val || 'Debes confirmar la carrera antes de actualizar',
                ]"
              />
            </q-item>
          </div>
        </div>

        <div v-if="!edit">
          <div>
            <p class="q-ml-md q-mt-md q-mb-lg text-weight-regular">
              Datos de la cuenta
            </p>
          </div>

          <div class="row" v-if="!edit">
            <div class="col-4">
              <q-item>
                <q-input
                  dense
                  filled
                  class="full-width"
                  v-model="alumno.nombreUsuario"
                  :rules="[
                    (val) => (val && val.length > 0) || 'Escriba su usuario',
                  ]"
                  label="Nombre de Usuario*"
                />
              </q-item>
            </div>

            <div class="col-4">
              <q-item>
                <q-input
                  dense
                  filled
                  class="full-width"
                  type="email"
                  v-model="alumno.email"
                  label="Correo Electrónico*"
                />
              </q-item>
            </div>

            <div class="col-4">
              <q-item>
                <q-input
                  dense
                  filled
                  class="full-width"
                  v-model="alumno.password"
                  :type="isPwd ? 'password' : 'text'"
                  :rules="[
                    (val) =>
                      (val && val.length > 7) ||
                      'La contraseña debe de ser de 7 caracteres',
                  ]"
                  label="Contraseña*"
                >
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>
              </q-item>
            </div>
          </div>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="row justify-end q-mr-sm">
          <div class="q-pa-sm q-gutter-sm">
            <q-btn
              color="secondary"
              icon="mdi-content-save"
              :label="edit ? 'Actualizar' : 'Aceptar'"
              type="submit"
            />
            <q-btn
              v-if="edit"
              color="orange-13"
              icon="mdi-account-key"
              label="Restablecer Contraseña"
              @click="activateModal"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-form>
  <q-dialog v-if="edit" v-model="cardModal">
    <reset-password
      @resetDone="closeModal"
      :id="alumno.user_id"
    ></reset-password>
  </q-dialog>
</template>

<script>
import ResetPassword from "src/components/General/ResetPassword.vue";
import { defineComponent } from "vue";
import { reactive, toRefs, onMounted, computed, ref } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
export default defineComponent({
  name: "MonitorForm",
  components: { ResetPassword },
  props: {
    edit: { required: true, type: Boolean },
    monitorId: { required: false, type: Number },
  },
  setup(props) {
    const store = useStore();
    const $q = useQuasar();
    const cardModal = ref(false);
    const state = reactive({
      alumno: {
        id: "",
        nombres: "",
        apellidoP: "",
        apellidoM: "",
        carrera_id: "",
        nombreUsuario: "",
        password: "",
        email: "",
        user_id: "",
      },
      isPwd: true,
    });

    onMounted(async () => {
      if (props.monitorId) {
        const monitorDB = await store.dispatch(
          "tutores/getAlumnoM",
          props.monitorId
        );
        state.alumno.id = props.monitorId;
        state.alumno.nombres = monitorDB.nombres;
        state.alumno.apellidoM = monitorDB.apellidoM;
        state.alumno.apellidoP = monitorDB.apellidoP;
        state.alumno.carrera_id = monitorDB.carrera_id;
        state.alumno.user_id = monitorDB.user_id;
      }
      await store.dispatch("general/getCarreras");
    });

    // * Getters
    const carreras = computed(() => store.getters["general/carreras"]);
    /****************************************************** */

    const createAlumnoM = () =>
      store.dispatch("tutores/createAlumnoM", state.alumno);
    async function handleCreateAlumnoM() {
      $q.loading.show();
      const res = await createAlumnoM();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Alumno Monitor Creado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    const updateAlumnoM = () =>
      store.dispatch("tutores/updateAlumnoM", state.alumno);
    async function handleEditAlumnoM() {
      $q.loading.show();
      const res = await updateAlumnoM();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Alumno Monitor Actualizado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }

    const activateModal = () => {
      cardModal.value = true;
    };
    const closeModal = () => {
      cardModal.value = false;
    };

    return {
      ...toRefs(state),
      carreras,
      handleCreateAlumnoM,
      handleEditAlumnoM,
      cardModal,
      activateModal,
      closeModal,
    };
  },
});
</script>

<style scoped></style>
