<template>
  <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
    <q-card-section>
      <div>
        <p class="q-mt-lg q-ml-md text-subtitle1">
          Reporte de tutorías por cada sesión
        </p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div>
        <p class="q-ml-md q-mt-lg q-mb-md text-weight-regular">
          Datos generales
        </p>
      </div>

      <div class="row">
        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="MonitorProfile.nombreCompleto"
              label="Jonathan Jimenez Perez"
              disable
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-select
              dense
              filled
              class="full-width"
              :emit-value="true"
              :map-options="true"
              :option-value="(carrera) => (carrera == null ? null : carrera.id)"
              :option-label="
                (carrera) => (carrera == null ? 'Null value' : carrera.carrera)
              "
              v-model="reporte.carrera_id"
              :options="carreras"
              label="Carrera*"
              :rules="[
                (val) =>
                  val || 'Debes confirmar la carrera antes de actualizar',
              ]"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-select
              dense
              filled
              class="full-width"
              v-model="reporte.cuatrimestre"
              :rules="[(val) => val != null || 'Seleccione el cuatrimestre']"
              label="Cuatrimestre*"
              :options="cuatrimestres"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="reporte.grupo"
              :rules="[(val) => (val && val.length > 0) || 'Escriba el grupo']"
              label="Grupo *"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="reporte.horario"
              :rules="[
                (val) => (val && val.length > 0) || 'Escriba el horario',
              ]"
              label="Horario *"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="reporte.fecha"
              :navigation-max-year-month="`${new Date().getFullYear()}/${new Date().getMonth()}`"
              type="date"
              :rules="[
                (val) => (val && val.length > 0) || 'Selccione la fecha',
              ]"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-file
              @input="generateImage($event)"
              accept=".jpg,.png,.jpeg"
              dense
              filled
              class="full-width"
              bottom-slots
              v-model="reporte.evidencia"
              label="Imagen"
              counter
            >
              <template v-slot:prepend>
                <q-icon name="cloud_upload" @click.stop />
              </template>
              <template v-slot:append>
                <q-icon
                  name="close"
                  @click.stop="reporte.evidencia = null"
                  class="cursor-pointer"
                />
              </template>
            </q-file>
          </q-item>
        </div>
      </div>

      <div>
        <p class="q-ml-md q-mt-sm q-mb-sm text-weight-regular">Asignaturas</p>
      </div>

      <div class="row">
        <div class="q-pa-md col-12">
          <q-card>
            <q-table
              :rows="reporte.asignaturas"
              :columns="columns_asignaturas"
              hide-bottom
            >
              <template v-slot:top>
                <q-btn
                  @click="modal_asignaturas = true"
                  color="cyan-7"
                  label="Agregar"
                  class="q-mr-sm q-mt-md"
                />
              </template>

              <template v-slot:body-cell-acciones="props">
                <q-td :props="props">
                  <div class="q-gutter-sm">
                    <q-btn
                      dense
                      color="red-8"
                      icon="mdi-delete"
                      @click="
                        typeof props.row.id == 'string'
                          ? removeAsignatura(props.row)
                          : removeAsignaturaDB(props.row)
                      "
                    />
                  </div>
                </q-td>
              </template>
            </q-table>
          </q-card>

          <q-dialog v-model="modal_asignaturas">
            <q-card style="width: 600px; max-width: 60vw">
              <q-form @submit.prevent="addAsignatura()">
                <q-card-section>
                  <div class="text-subtitle1">
                    Agregar Asignatura
                    <q-btn
                      round
                      flat
                      dense
                      icon="close"
                      class="float-right"
                      color="grey-8"
                      v-close-popup
                    ></q-btn>
                  </div>
                </q-card-section>
                <q-separator inset></q-separator>
                <q-card-section class="q-pt-none">
                  <q-form class="q-gutter-md">
                    <q-list>
                      <q-item>
                        <q-item-section>
                          <q-item-label class="q-pb-xs"
                            >Nombre de la asignatura</q-item-label
                          >
                          <q-input dense outlined v-model="asignatura.nombre" />
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-form>
                </q-card-section>

                <q-card-actions align="right" class="text-teal">
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    v-close-popup
                  />
                </q-card-actions>
              </q-form>
            </q-card>
          </q-dialog>
        </div>

        <div>
          <p class="q-ml-md q-mt-sm q-mb-sm text-weight-regular">
            Contendios a Tratar
          </p>
        </div>

        <div class="q-pa-md col-12">
          <q-card>
            <q-table
              :rows="reporte.contenidos_tratar"
              :columns="columns_contenidos"
              hide-bottom
            >
              <template v-slot:top>
                <q-btn
                  @click="modal_contenidos = true"
                  color="cyan-7"
                  label="Agregar"
                  class="q-mr-sm q-mt-md"
                />
              </template>
              <template v-slot:body-cell-acciones="props">
                <q-td :props="props">
                  <div class="q-gutter-sm">
                    <q-btn
                      dense
                      color="red-8"
                      icon="mdi-delete"
                      @click="
                        typeof props.row.id == 'string'
                          ? removeContenido(props.row)
                          : removeContenidoDB(props.row)
                      "
                    />
                  </div>
                </q-td>
              </template>
              <template v-slot:body-cell-tratado="props">
                <q-td key="checkbox" :props="props"
                  ><q-checkbox v-model="props.row.tratado"
                /></q-td>
              </template>
            </q-table>
          </q-card>

          <q-dialog v-model="modal_contenidos">
            <q-card style="width: 600px; max-width: 60vw">
              <q-form @submit.prevent="addContenido()">
                <q-card-section>
                  <div class="text-subtitle1">
                    Agregar Contenido
                    <q-btn
                      round
                      flat
                      dense
                      icon="close"
                      class="float-right"
                      color="grey-8"
                      v-close-popup
                    ></q-btn>
                  </div>
                </q-card-section>
                <q-separator inset></q-separator>
                <q-card-section class="q-pt-none">
                  <q-form class="q-gutter-md">
                    <q-list>
                      <q-item>
                        <q-item-section>
                          <q-item-label class="q-pb-xs">Tema</q-item-label>
                          <q-input
                            dense
                            outlined
                            v-model="contenido_tratar.contenido"
                          />
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-form>
                </q-card-section>

                <q-card-actions align="right" class="text-teal">
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    v-close-popup
                  />
                </q-card-actions>
              </q-form>
            </q-card>
          </q-dialog>
        </div>

        <div>
          <p class="q-ml-md q-mt-lg q-mb-sm text-weight-regular">
            Asistentes Programados
          </p>
        </div>

        <div class="q-pa-md col-12">
          <q-card>
            <q-table
              :rows="reporte.asistentes_programados"
              :columns="columns_asistentes"
              hide-bottom
            >
              <template v-slot:top-left>
                <q-btn
                  @click="modal_asistentes = true"
                  color="cyan-7"
                  label="Agregar"
                  class="q-mr-sm q-mt-md"
                />
              </template>

              <template v-slot:body-cell-acciones="props">
                <q-td :props="props">
                  <div class="q-gutter-sm">
                    <q-btn
                      dense
                      color="red-8"
                      icon="mdi-delete"
                      @click="
                        typeof props.row.id == 'string'
                          ? removeAsistente(props.row)
                          : removeAsistenteDB(props.row)
                      "
                    />
                  </div>
                </q-td>
              </template>
              <template v-slot:body-cell-asistio="props">
                <q-td key="checkbox" :props="props"
                  ><q-checkbox v-model="props.row.asistio"
                /></q-td>
              </template>
            </q-table>
          </q-card>

          <q-dialog v-model="modal_asistentes">
            <q-card style="width: 600px; max-width: 60vw">
              <q-form @submit.prevent="addAsistente()">
                <q-card-section>
                  <div class="text-subtitle1">
                    Asistente Programado
                    <q-btn
                      round
                      flat
                      dense
                      icon="close"
                      class="float-right"
                      color="grey-8"
                      v-close-popup
                    ></q-btn>
                  </div>
                </q-card-section>
                <q-separator inset></q-separator>
                <q-card-section class="q-pt-none">
                  <div class="q-gutter-md">
                    <q-list>
                      <q-item>
                        <q-item-section>
                          <q-item-label class="q-pb-xs"
                            >Nombre Completo</q-item-label
                          >
                          <q-input
                            dense
                            outlined
                            v-model="asistente.nombre_completo"
                          />
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </div>
                </q-card-section>

                <q-card-actions align="right" class="text-teal">
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    v-close-popup
                  />
                </q-card-actions>
              </q-form>
            </q-card>
          </q-dialog>
        </div>
        <div>
          <p class="q-ml-md q-mt-lg q-mb-sm text-weight-regular">
            Problematicas que presentan los alumnos
          </p>
        </div>
        <div class="col-12 q-mb-sm q-mt-sm">
          <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
            <q-editor
              :toolbar="[]"
              filled
              v-model="reporte.problematicas"
              min-height="6rem"
            />
          </div>
        </div>
        <div>
          <p class="q-ml-md q-mt-lg q-mb-sm text-weight-regular">
            Observaciones
          </p>
        </div>
        <div class="col-12 q-mb-sm q-mt-sm">
          <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
            <q-editor
              :toolbar="[]"
              filled
              v-model="reporte.observaciones"
              min-height="6rem"
            />
          </div>
        </div>
        <div>
          <p class="q-ml-md q-mt-lg q-mb-sm text-weight-regular">
            Link de reunion (opcional):
          </p>
        </div>
        <div class="col-12 q-mb-sm q-mt-sm">
          <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
            <q-editor
              :toolbar="[]"
              filled
              v-model="reporte.link"
              min-height="6rem"
            />
          </div>
        </div>
      </div>
    </q-card-section>

    <q-separator />
    <q-card-section>
      <div class="row justify-end q-mr-sm">
        <div class="q-pa-sm q-gutter-sm">
          <q-btn
            color="secondary"
            icon="mdi-content-save"
            :label="reporte_id ? 'Actualizar' : 'Guardar'"
            :disable="!reporteValid"
            @click="reporte_id ? handleUpdateReporte() : handleSaveReporte()"
          />
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
import { formatDateCustom } from "src/filters/date";
import { CUATRIMESTRES } from "src/constants/selects";
import { v4 as uuidv4 } from "uuid";

const columns_asignaturas = [
  {
    name: "name",
    required: true,
    label: "Nombre de la asignatura",
    align: "left",
    field: (row) => row.nombre,
    format: (val) => `${val}`,
    sortable: true,
  },
  {
    name: "acciones",
    align: "left",
    label: "Accciones",
    field: "acciones",
    sortable: true,
  },
];
const columns_contenidos = [
  {
    name: "tratado",
    required: true,
    label: "Tratado",
    align: "left",
    field: "tratado",
  },
  {
    name: "contenido",
    required: true,
    label: "Tema",
    align: "left",
    field: (row) => row.contenido,
    format: (val) => `${val}`,
  },
  {
    name: "acciones",
    align: "left",
    label: "Accciones",
    field: "acciones",
  },
];

const columns_asistentes = [
  {
    name: "asistio",
    required: true,
    label: "Asisitio",
    align: "left",
    field: "asistio",
  },
  {
    name: "name",
    required: true,
    label: "Nombre completo del alumno",
    align: "left",
    field: (row) => row.nombre_completo,
    format: (val) => `${val}`,
    sortable: true,
  },
  {
    name: "acciones",
    align: "left",
    label: "Accciones",
    field: "acciones",
    field: (row) => row.name,
    format: (val) => `${val}`,
    sortable: true,
  },
];

export default {
  props: {
    reporte_id: { type: Object },
  },
  setup(props) {
    // declarations
    const store = useStore();
    const $q = useQuasar();
    //* DATA
    const asignaturas = ref([]);
    const contenidos_tratar = ref([]);
    const asistentes_programados = ref([]);
    const cuatrimestres = CUATRIMESTRES;
    const reporte = ref({
      carrera_id: null,
      cuatrimestre: null,
      grupo: null,
      horario: null,
      fecha: null,
      evidencia: null,
      problematicas: null,
      observaciones: null,
      link: null,
      asignaturas: [],
      contenidos_tratar: [],
      asistentes_programados: [],
    });
    const asignatura = ref({
      id: uuidv4(),
      nombre: "",
    });
    const contenido_tratar = ref({
      id: uuidv4(),
      contenido: "",
      tratado: false,
    });
    const asistente = ref({
      id: uuidv4(),
      nombre_completo: "",
      asistio: false,
    });
    const modal_asignaturas = ref(false);
    const modal_contenidos = ref(false);
    const modal_asistentes = ref(false);
    //*MOUNTED
    onMounted(async () => {
      await store.dispatch("general/getCarreras");
      if (props.reporte_id) {
        reporte.value = await store.dispatch(
          "monitores/getReporteSesion",
          props.reporte_id
        );
        reporte.value.fecha = formatDateCustom(reporte.value.fecha);
      }
      // reporte.value.monitor = MonitorProfile.value.nombreCompleto;
    });
    //*Getters
    const MonitorProfile = computed(() => store.getters["auth/MonitorProfile"]);
    const carreras = computed(() => store.getters["general/carreras"]);
    //* Functions
    function addAsignatura() {
      reporte.value.asignaturas.push(asignatura.value);
      asignatura.value = {
        id: uuidv4(),
        nombre: "",
      };
    }
    function removeAsignatura(asignatura) {
      reporte.value.asignaturas = reporte.value.asignaturas.filter(
        (x) => x.id != asignatura.id
      );
    }
    const removeAsignaturaStore = (id) =>
      store.dispatch("monitores/removeAsignatura", id);
    async function removeAsignaturaDB(asignatura) {
      $q.loading.show();
      const res = await removeAsignaturaStore(asignatura.id);
      $q.loading.hide();
      if (res) {
        reporte.value.asignaturas = reporte.value.asignaturas.filter(
          (x) => x.id != asignatura.id
        );
        $q.notify({
          ...successConfig,
          message: "Asignatura Eliminado de Reporte",
        });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    function addContenido() {
      reporte.value.contenidos_tratar.push(contenido_tratar.value);
      contenido_tratar.value = {
        id: uuidv4(),
        contenido: "",
        tratado: false,
      };
    }
    function removeContenido(contenido) {
      reporte.value.contenidos_tratar = reporte.value.contenidos_tratar.filter(
        (x) => x.id != contenido.id
      );
    }
    const removeContenidoStore = (id) =>
      store.dispatch("monitores/removeContenido", id);
    async function removeContenidoDB(contenido) {
      $q.loading.show();
      const res = await removeContenidoStore(contenido.id);
      $q.loading.hide();
      if (res) {
        reporte.value.contenidos_tratar =
          reporte.value.contenidos_tratar.filter((x) => x.id != contenido.id);
        $q.notify({
          ...successConfig,
          message: "Contenido Eliminado de Reporte",
        });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    function generateImage(data) {
      // console.log(data);
    }

    function addAsistente() {
      reporte.value.asistentes_programados.push(asistente.value);
      asistente.value = {
        id: uuidv4(),
        nombre_completo: "",
        asistio: false,
      };
    }
    function removeAsistente(asistente) {
      reporte.value.asistentes_programados =
        reporte.value.asistentes_programados.filter(
          (x) => x.id != asistente.id
        );
    }
    const removeAsistenteStore = (id) =>
      store.dispatch("monitores/removeAsistente", id);
    async function removeAsistenteDB(asistente) {
      $q.loading.show();
      const res = await removeAsistenteStore(asistente.id);
      $q.loading.hide();
      if (res) {
        reporte.value.asistentes_programados =
          reporte.value.asistentes_programados.filter(
            (x) => x.id != asistente.id
          );
        $q.notify({
          ...successConfig,
          message: "Asistente Eliminado de Reporte",
        });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }

    const createReporte = () =>
      store.dispatch("monitores/crearReporteSesion", reporte.value);
    async function handleSaveReporte() {
      $q.loading.show();
      const res = await createReporte();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Reporte Creado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    const updateReporte = () =>
      store.dispatch("monitores/updateReporteSesion", reporte.value);
    async function handleUpdateReporte() {
      $q.loading.show();
      const res = await updateReporte();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Reporte Actualizado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    //!validaciones
    const reporteValid = computed(() => {
      return (
        reporte.value.carrera_id != null &&
        reporte.value.cuatrimestre != null &&
        reporte.value.grupo != null &&
        reporte.value.horario != null &&
        reporte.value.fecha != null &&
        reporte.value.problematicas != null &&
        reporte.value.observaciones != null &&
        reporte.value.asignaturas.length > 0 &&
        reporte.value.asistentes_programados.length > 0 &&
        reporte.value.contenidos_tratar.length > 0
      );
    });
    function generateImage(event) {
      reporte.value.evidencia = event.target.files[0];
    }
    return {
      generateImage,
      reporte,
      carreras,
      cuatrimestres,
      MonitorProfile,
      columns_asignaturas,
      modal_asignaturas,
      asignatura,
      addAsignatura,
      removeAsignatura,
      removeAsignaturaDB,
      contenido_tratar,
      modal_contenidos,
      columns_contenidos,
      addContenido,
      removeContenido,
      removeContenidoDB,
      columns_asistentes,
      asistente,
      modal_asistentes,
      addAsistente,
      removeAsistente,
      removeAsistenteDB,
      reporteValid,
      handleSaveReporte,
      handleUpdateReporte,
    };
  },
};
</script>
