<template>
  <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
    <q-card-section>
      <div>
        <p class="q-mt-lg q-ml-md text-subtitle1">Reporte final de asesorías</p>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div>
        <p class="q-ml-md q-mt-lg q-mb-md text-weight-regular">
          Datos generales
        </p>
      </div>

      <div class="row">
        <div class="col-4">
          <q-item>
            <q-input
              v-if="!tutor"
              dense
              filled
              class="full-width"
              v-model="MonitorProfile.nombreCompleto"
              label="Jonathan Jimenez Perez"
              disable
            />
            <q-input
              v-else
              dense
              filled
              class="full-width"
              v-model="monitor"
              label="Jonathan Jimenez Perez"
              disable
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-select
              dense
              filled
              class="full-width"
              :emit-value="true"
              :map-options="true"
              :option-value="(carrera) => (carrera == null ? null : carrera.id)"
              :option-label="
                (carrera) => (carrera == null ? 'Null value' : carrera.carrera)
              "
              v-model="reporte.carrera_id"
              :options="carreras"
              label="Carrera*"
              :rules="[
                (val) =>
                  val || 'Debes confirmar la carrera antes de actualizar',
              ]"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-select
              dense
              filled
              class="full-width"
              v-model="reporte.cuatrimestre"
              :rules="[(val) => val != null || 'Seleccione el cuatrimestre']"
              label="Cuatrimestre*"
              :options="cuatrimestres"
            />
          </q-item>
        </div>

        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="reporte.grupo"
              :rules="[(val) => (val && val.length > 0) || 'Escriba el grupo']"
              label="Grupo *"
            />
          </q-item>
        </div>
        <div class="col-4">
          <q-item>
            <q-input
              dense
              filled
              class="full-width"
              v-model="reporte.fecha"
              :navigation-max-year-month="`${new Date().getFullYear()}/${new Date().getMonth()}`"
              type="date"
              :rules="[
                (val) => (val && val.length > 0) || 'Selccione la fecha',
              ]"
            />
          </q-item>
        </div>
      </div>

      <div>
        <p class="q-ml-md q-mt-sm q-mb-sm text-weight-regular">
          Estudiantes Programados
        </p>
      </div>

      <div class="q-pa-md">
        <q-card>
          <q-table
            :rows="reporte.asistentes"
            :columns="columns_alumnos_culminaron"
            hide-bottom
          >
            <template v-slot:top>
              <q-btn
                @click="modal_asistentes = true"
                color="cyan-7"
                label="Agregar"
                class="q-mr-sm q-mt-md"
              />
            </template>

            <template v-slot:body-cell-acciones="props">
              <q-td :props="props">
                <div class="q-gutter-sm">
                  <q-btn
                    dense
                    color="red-8"
                    icon="mdi-delete"
                    @click="
                      typeof props.row.id == 'string'
                        ? removeAsistente(props.row)
                        : removeAsistenteDB(props.row)
                    "
                  />
                </div>
              </q-td>
            </template>
          </q-table>
        </q-card>

        <q-dialog v-model="modal_asistentes">
          <q-card style="width: 600px; max-width: 60vw">
            <q-card-section>
              <div class="text-subtitle1">
                Estudiante Programado
                <q-btn
                  round
                  flat
                  dense
                  icon="close"
                  class="float-right"
                  color="grey-8"
                  v-close-popup
                ></q-btn>
              </div>
            </q-card-section>
            <q-separator inset></q-separator>
            <q-card-section class="q-pt-none">
              <q-form class="q-gutter-md" @submit.prevent="addAsistente()">
                <q-list>
                  <q-item>
                    <q-item-section>
                      <q-item-label class="q-pb-xs"
                        >Nombre Completo</q-item-label
                      >
                      <q-input
                        dense
                        outlined
                        v-model="asistente.nombre_completo"
                      />
                    </q-item-section>
                  </q-item>
                  <q-item>
                    <q-select
                      dense
                      filled
                      class="full-width"
                      :emit-value="true"
                      :map-options="true"
                      :option-value="
                        (option) => (option == null ? null : option.value)
                      "
                      :option-label="
                        (option) =>
                          option == null ? 'Null value' : option.text
                      "
                      v-model="asistente.culmino"
                      :options="culmino"
                      label="El alumno culmino las sesiones?*"
                      :rules="[
                        (val) =>
                          val != null || 'Debes confirmar antes de actualizar',
                      ]"
                    />
                  </q-item>
                  <q-item v-if="asistente.culmino">
                    <q-input
                      dense
                      filled
                      class="full-width"
                      v-model="asistente.asignatura"
                      :rules="[
                        (val) =>
                          (val && val.length > 0) ||
                          'Escriba la materia a la cual se le designara las decimas',
                      ]"
                      label="Materia para asignar decimas*"
                    />
                  </q-item>
                </q-list>
                <q-card-actions align="right" class="text-teal">
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    v-close-popup
                  />
                </q-card-actions>
              </q-form>
            </q-card-section>
          </q-card>
        </q-dialog>
      </div>

      <div>
        <p class="q-ml-md q-mt-md q-mb-sm text-weight-regular">
          Contendios Tratados
        </p>
      </div>

      <div class="q-pa-md">
        <q-card>
          <q-table
            :rows="reporte.contenidos_tratados"
            :columns="columns_contenidos"
            hide-bottom
          >
            <template v-slot:top-left>
              <q-btn
                @click="modal_contenidos = true"
                color="cyan-7"
                label="Agregar"
                class="q-mr-sm q-mt-md"
              />
            </template>

            <template v-slot:body-cell-acciones="props">
              <q-td :props="props">
                <div class="q-gutter-sm">
                  <q-btn
                    dense
                    color="red-8"
                    icon="mdi-delete"
                    @click="
                      typeof props.row.id == 'string'
                        ? removeContenido(props.row)
                        : removeContenidoDB(props.row)
                    "
                  />
                </div>
              </q-td>
            </template>
          </q-table>
        </q-card>

        <q-dialog v-model="modal_contenidos">
          <q-card style="width: 600px; max-width: 60vw">
            <q-card-section>
              <div class="text-subtitle1">
                Contenido Tratado
                <q-btn
                  round
                  flat
                  dense
                  icon="close"
                  class="float-right"
                  color="grey-8"
                  v-close-popup
                ></q-btn>
              </div>
            </q-card-section>
            <q-separator inset></q-separator>
            <q-card-section class="q-pt-none">
              <q-form class="q-gutter-md" @submit.prevent="addContenido()">
                <div class="q-mt-lg">
                  <q-editor
                    :toolbar="[]"
                    filled
                    v-model="contenido.contenido"
                    min-height="6rem"
                  />
                </div>
                <q-card-actions align="right" class="text-teal">
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    v-close-popup
                  />
                </q-card-actions>
              </q-form>
            </q-card-section>
          </q-card>
        </q-dialog>
      </div>
      <div class="col-12 q-mb-sm">
        <div>
          <p class="q-ml-md q-mt-lg q-mb-sm text-weight-regular">
            Problemática general que presentan los alumnos tutorados:
          </p>
        </div>
        <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
          <q-editor
            filled
            v-model="reporte.problematicas"
            min-height="6rem"
            :toolbar="[]"
          />
        </div>
      </div>
      <div class="row" v-if="tutor">
        <div class="col-12 q-mb-sm q-mt-sm">
          <div>
            <p class="q-ml-md q-mt-lg q-mb-sm text-weight-regular">
              ¿Cómo observó el papel desempeñado por el alumno monitor?
            </p>
          </div>
          <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
            <q-editor
              filled
              v-model="reporte.desempenio"
              min-height="6rem"
              :toolbar="[]"
            />
          </div>
        </div>

        <div class="col-12 q-mb-sm">
          <div>
            <p class="q-ml-md q-mt-lg q-mb-sm text-weight-regular">
              Sugerencias de mejora hacia el programa alumno monitor
            </p>
          </div>
          <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
            <q-editor
              filled
              v-model="reporte.sugerencias"
              min-height="6rem"
              :toolbar="[]"
            />
          </div>
        </div>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section>
      <div class="row justify-end q-mr-sm">
        <div class="q-pa-sm q-gutter-sm">
          <q-btn
            v-if="!tutor"
            color="secondary"
            icon="mdi-content-save"
            label="Guardar"
            @click="reporte_id ? handleUpdateReporte() : saveReporte()"
            :disable="!reporteValid"
          />
          <q-btn
            v-else
            color="secondary"
            icon="mdi-content-save"
            label="Guardar"
            @click="updateReporteTutor()"
            :disable="!reporteValid"
          />
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
import { formatDateCustom } from "src/filters/date";
import { CUATRIMESTRES, CULMINO } from "src/constants/selects";
import { v4 as uuidv4 } from "uuid";
const columns_alumnos_culminaron = [
  {
    name: "name",
    required: true,
    label: "Nombre completo del alumno",
    align: "left",
    field: (row) => row.nombre_completo,
    format: (val) => `${val}`,
  },
  {
    name: "culmino",
    required: true,
    label: "El alumno culmino las sesiones",
    align: "left",
    field: (row) => row.culmino,
    format: (val) => (val ? "Si" : "No"),
  },
  {
    name: "asignatura",
    required: true,
    label: "Asignatura para asignacion de decimas",
    align: "left",
    field: (row) => row.asignatura,
  },
  {
    name: "acciones",
    align: "left",
    label: "Accciones",
    field: "acciones",
    field: (row) => row.name,
    format: (val) => `${val}`,
  },
];
const columns_contenidos = [
  {
    name: "contenido",
    required: true,
    label: "Contenido Tratado",
    align: "left",
    field: (row) => row.contenido,
    format: (val) => `${val}`,
  },
  {
    name: "acciones",
    align: "left",
    label: "Accciones",
    field: "acciones",
    field: (row) => row.name,
    format: (val) => `${val}`,
  },
];

export default {
  props: {
    reporte_id: { type: Object },
    tutor: { type: Boolean },
  },
  setup(props) {
    // declarations
    const store = useStore();
    const $q = useQuasar();
    //* DATA
    const cuatrimestres = CUATRIMESTRES;
    const culmino = CULMINO;
    const reporte = ref({
      carrera_id: null,
      cuatrimestre: null,
      fecha: null,
      problematicas: null,
      grupo: null,
      asistentes: [],
      contenidos_tratados: [],
      desempenio: null,
      sugerencias: null,
    });
    const asistente = ref({
      id: uuidv4(),
      nombre_completo: "",
      culmino: false,
      asignatura: "",
    });
    const contenido = ref({
      id: uuidv4(),
      contenido: "",
    });
    const tutor_fields = ref({
      desempenio: "",
      sugerencias: "",
    });
    const monitor = ref("");
    const modal_asistentes = ref(false);
    const modal_contenidos = ref(false);
    onMounted(async () => {
      await store.dispatch("general/getCarreras");
      if (props.reporte_id) {
        reporte.value = await store.dispatch(
          "monitores/getReporteFinal",
          props.reporte_id
        );
        reporte.value.fecha = formatDateCustom(reporte.value.fecha);
        monitor.value = `${reporte.value.monitor.nombres} ${reporte.value.monitor.apellidoP} ${reporte.value.monitor.apellidoM}`;
      }
    });
    //*Getters
    const MonitorProfile = computed(() => store.getters["auth/MonitorProfile"]);
    const carreras = computed(() => store.getters["general/carreras"]);
    function viewItem(data) {
    }
    //*Methods
    const addAsistente = () => {
      if (asistente.value.nombre_completo) {
        reporte.value.asistentes.push(asistente.value);
        asistente.value = {
          id: uuidv4(),
          nombre_completo: "",
          culmino: false,
          asignatura: "",
        };
      }
    };
    const removeAsistente = (asistente) => {
      reporte.value.asistentes = reporte.value.asistentes.filter(
        (item) => item.id !== asistente.id
      );
    };
    const removeAsistenteStore = (id) =>
      store.dispatch("monitores/removeRfAsistente", id);
    const removeAsistenteDB = async (asistente) => {
      $q.loading.show();
      const res = await removeAsistenteStore(asistente.id);
      $q.loading.hide();
      if (res) {
        reporte.value.asistentes = reporte.value.asistentes.filter(
          (x) => x.id != asistente.id
        );
        $q.notify({
          ...successConfig,
          message: "Asistente Eliminado de Reporte",
        });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    const addContenido = () => {
      if (contenido.value.contenido) {
        reporte.value.contenidos_tratados.push(contenido.value);
        contenido.value = {
          id: uuidv4(),
          contenido: "",
        };
      }
    };
    const removeContenido = (contenido) => {
      reporte.value.contenidos_tratados =
        reporte.value.contenidos_tratados.filter(
          (item) => item.id !== contenido.id
        );
    };
    const removeContenidoStore = (id) =>
      store.dispatch("monitores/removeRfContenido", id);

    const removeContenidoDB = async (contenido) => {
      $q.loading.show();
      const res = await removeContenidoStore(contenido.id);
      $q.loading.hide();
      if (res) {
        reporte.value.contenidos_tratados =
          reporte.value.contenidos_tratados.filter((x) => x.id != contenido.id);
        $q.notify({
          ...successConfig,
          message: "Contenido Eliminado de Reporte",
        });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    const saveReporte = async () => {
      // return console.log("saving", reporte.value);
      $q.loading.show();
      const res = await store.dispatch(
        "monitores/crearReporteFinal",
        reporte.value
      );
      $q.loading.hide();
      if (res) {
        $q.notify({
          ...successConfig,
          message: "Reporte Guardado",
        });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    const updateReporte = () =>
      store.dispatch("monitores/updateReporteFinal", reporte.value);
    async function handleUpdateReporte() {
      $q.loading.show();
      const res = await updateReporte();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Reporte Actualizado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    }
    const updateReporteTutor = async () => {
      $q.loading.show();
      const res = await store.dispatch(
        "tutores/updateReporteFinalMonitor",
        reporte.value
      );
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Reporte Actualizado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    //!validations
    const reporteValid = computed(() => {
      if (props.tutor) {
        return (
          reporte.value.carrera_id &&
          reporte.value.cuatrimestre &&
          reporte.value.fecha &&
          reporte.value.grupo &&
          reporte.value.problematicas &&
          reporte.value.asistentes.length > 0 &&
          reporte.value.contenidos_tratados.length > 0 &&
          reporte.value.desempenio &&
          reporte.value.sugerencias
        );
      } else {
        return (
          reporte.value.carrera_id &&
          reporte.value.cuatrimestre &&
          reporte.value.fecha &&
          reporte.value.grupo &&
          reporte.value.problematicas &&
          reporte.value.asistentes.length > 0 &&
          reporte.value.contenidos_tratados.length > 0
        );
      }
    });
    return {
      columns_alumnos_culminaron,
      columns_contenidos,
      tutor_fields,
      reporte,
      carreras,
      cuatrimestres,
      modal_asistentes,
      modal_contenidos,
      MonitorProfile,
      asistente,
      addAsistente,
      removeAsistente,
      removeAsistenteDB,
      contenido,
      addContenido,
      removeContenido,
      removeContenidoDB,
      reporte,
      culmino,
      reporteValid,
      saveReporte,
      handleUpdateReporte,
      updateReporteTutor,
      monitor,
    };
  },
};
</script>
