<template>
  <div class="q-pa-md">
    <q-table
      v-if="alumnos"
      title="Tiutlo"
      :rows="alumnos"
      :columns="columns"
      row-key="id"
      v-model:pagination="pagination"
      :loading="loading"
      :rows-per-page-options="[]"
    >
      <template v-slot:top-right="props">
        <q-btn
          flat
          round
          :icon="props.inFullscreen ? 'fullscreen_exit' : 'fullscreen'"
          @click="props.toggleFullscreen"
        >
          <q-tooltip :disable="$q.platform.is.mobile" v-close-popup
            >{{ props.inFullscreen ? "Reducir" : "Expandir" }}
          </q-tooltip>
        </q-btn>
      </template>
      <template v-slot:pagination="scope">
        <span>Pagina {{ pagination.page }} de {{ pagination.totalPages }}</span>
        <q-btn
          v-if="scope.totalPages > 2"
          icon="first_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('first')"
        />

        <q-btn
          icon="chevron_left"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isFirstPage"
          @click="handleChangePagination('prev')"
        />

        <q-btn
          icon="chevron_right"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('next')"
        />

        <q-btn
          v-if="scope.pagesNumber > 2"
          icon="last_page"
          color="grey-8"
          round
          dense
          flat
          :disable="scope.isLastPage"
          @click="handleChangePagination('last')"
        />
      </template>
    </q-table>
    <div v-else class="row justify-center">
      <q-spinner-orbit color="blue" size="xl" />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import { ref, onMounted, computed } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";

const columns = [
  {
    name: "nombres",
    align: "left",
    label: "Nombres",
    field: "nombres",
  },
  {
    name: "apellidos",
    align: "left",
    label: "Apellidos",
    field: "apellidos",
  },
  { name: "carrera", align: "left", label: "Carrera", field: "carrera" },
  {
    name: "cuatrimestre",
    align: "left",
    label: "Cuatrimestre",
    field: "cuatrimestre",
  },
  {
    name: "grupo",
    align: "left",
    label: "Grupo",
    field: "grupo",
  },
];

export default defineComponent({
  name: "AlumnosTutoradosTable",
  props: { monitor_id: { required: false } },
  setup(props) {
    // * Declarations
    const store = useStore();
    const $q = useQuasar();
    /*************************/
    const loading = ref(true);
    //* Initial Fetch
    onMounted(async () => {
      if (props.monitor_id) {
        await store.dispatch("monitores/getAlumnosTConId", props.monitor_id);
        loading.value = false;
      } else {
        loading.value = true;
        await store.dispatch("monitores/getAlumnosT");
        loading.value = false;
      }
    });
    //* Getters
    const alumnos = computed(() => store.getters["monitores/alumnosT"]);
    const pagination = computed(() => store.getters["monitores/paginationAT"]);
    //* Table Logic
    const handleChangePagination = async (direction) => {
      loading.value = true;
      await store.dispatch("general/changePagination", {
        direction: direction,
        module: "monitores",
        collection: "alumnosT",
        commit: "SET_ALUMNOST_DATA",
      });
      loading.value = false;
    };
    /*************************/

    const viewItem = (item) => console.log(item);
    return {
      loading,
      columns,
      alumnos,
      pagination,
      handleChangePagination,
      viewItem,
    };
  },
});
</script>
