<template>
  <q-form
    @submit.prevent="edit ? handleUpdateAlumnoT() : handleCreateAlumnoT()"
  >
    <q-card class="my-card q-ml-md q-mr-md q-mb-md q-mt-md">
      <q-card-section>
        <div>
          <p class="q-mt-lg q-ml-md text-subtitle1">Nuevo Alumno Tutorado</p>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div>
          <p class="q-ml-md q-mt-lg q-mb-lg text-regular">
            Datos generales del alumno
          </p>
        </div>

        <div class="row">
          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="alumno.nombres"
                :rules="[
                  (val) => (val && val.length > 0) || 'Escriba su nombres',
                ]"
                label="Nombres*"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="alumno.apellidos"
                :rules="[
                  (val) => (val && val.length > 0) || 'Escriba su apellidos',
                ]"
                label="Apellidos*"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-select
                dense
                filled
                class="full-width"
                :emit-value="true"
                :map-options="true"
                :option-value="
                  (carrera) => (carrera === null ? null : carrera.id)
                "
                :option-label="
                  (carrera) =>
                    carrera === null ? 'Null value' : carrera.carrera
                "
                v-model="alumno.carrera_id"
                :options="carreras"
                label="Carrera*"
                :rules="[
                  (val) =>
                    val || 'Debes confirmar la carrera antes de actualizar',
                ]"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-select
                dense
                filled
                class="full-width"
                v-model="alumno.cuatrimestre"
                :rules="[
                  (val) => (val && val != null) || 'Selccione el cuatrimestre',
                ]"
                label="Cuatrimestre*"
                :options="cuatri"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <q-input
                dense
                filled
                class="full-width"
                v-model="alumno.grupo"
                :rules="[
                  (val) => (val && val.length > 0) || 'Escriba el grupo',
                ]"
                label="Grupo*"
              />
            </q-item>
          </div>

          <div class="col-4">
            <q-item>
              <!-- <q-select
              dense
              filled
              class="full-width"
              v-model="model"
              :rules="[
                (val) =>
                  (val && val.length > 0) || 'Selccione El Alumno Monitor',
              ]"
              label="Alumno monitor*"
              :options="cuatri"
            /> -->
              <!-- {{ monitores }} -->
              <q-select
                class="full-width"
                dense
                filled
                v-model="alumno.alumnoMonitorId"
                use-input
                input-debounce="0"
                label="Alumno Monitor"
                :options="monitores"
                @filter="filterFn"
                @filter-abort="abortFilterFn"
                :emit-value="true"
                :map-options="true"
                :option-value="
                  (monitor) => (monitor === null ? null : monitor?.id)
                "
                :option-label="
                  (monitor) =>
                    monitor === null
                      ? 'Null value'
                      : `${monitor.nombres} ${monitor.apellidoM} ${monitor.apellidoP}`
                "
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">
                      No results
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </q-item>
          </div>

          <div class="col-12 q-mb-sm">
            <div class="q-mr-md q-ml-md q-mt-sm q-mb-md">
              <q-editor
                filled
                placeholder="Descripción*"
                v-model="alumno.descripcion"
                min-height="5rem"
              />
            </div>
          </div>
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="row justify-end q-mr-sm">
          <div class="q-pa-sm q-gutter-sm">
            <q-btn
              color="secondary"
              icon="mdi-content-save"
              :label="edit ? 'Actualizar' : 'Aceptar'"
              type="submit"
            />
          </div>
        </div>
      </q-card-section>
    </q-card>
  </q-form>
</template>

<script>
import { defineComponent } from "vue";
import { ref, reactive, onMounted, toRefs, computed } from "vue";
import { useStore } from "vuex";
import { useQuasar } from "quasar";
import { successConfig, errorConfig } from "src/constants/toast";
export default defineComponent({
  name: "TutoradoForm",
  props: {
    edit: { required: true, type: Boolean },
    tutoradoId: { required: false, type: Number },
  },
  setup(props) {
    const store = useStore();
    const $q = useQuasar();

    const state = reactive({
      alumno: {
        id: "",
        nombres: "",
        apellidos: "",
        carrera_id: "",
        grupo: "",
        cuatrimestre: "",
        alumnoMonitorId: null,
        descripcion: "",
      },
    });

    onMounted(async () => {
      await store.dispatch("general/getCarreras");
      await store.dispatch("tutores/getAlumnosM", tutorId.value);

      if (props.tutoradoId) {
        const tutoradoDB = await store.dispatch(
          "tutores/getAlumnoT",
          props.tutoradoId
        );
        state.alumno.id = tutoradoDB.id;
        state.alumno.nombres = tutoradoDB.nombres;
        state.alumno.apellidos = tutoradoDB.apellidos;
        state.alumno.carrera_id = tutoradoDB.carrera_id;
        state.alumno.grupo = tutoradoDB.grupo;
        state.alumno.cuatrimestre = tutoradoDB.cuatrimestre;
        state.alumno.cuatrimestre = tutoradoDB.cuatrimestre;
        state.alumno.alumnoMonitorId = tutoradoDB.alumno_monitor_id;
        state.alumno.descripcion = tutoradoDB.descripcion;
      }
      const monitorDB = await store.dispatch(
        "tutores/getAlumnoM",
        state.alumno.alumnoMonitorId
      );
      if (monitorDB) {
        store.commit("tutores/PUSH_MONITOR", monitorDB);
      }
    });

    // * Getters
    const carreras = computed(() => store.getters["general/carreras"]);
    const monitores = computed(() => store.getters["tutores/alumnosM"]);
    const tutorId = computed(() => store.getters["tutores/tutorId"]);

    //* Functions for searching monitores on select
    const search = async (val) => {
      await store.dispatch("general/search", {
        table: "alumno_monitor",
        field: "nombres",
        term: val,
        module: "tutores",
        collection: "alumnosM",
        commit: "SET_ALUMNOSM_DATA",
        active: 1,
      });
    };
    const filterFn = (val, update, abort) => {
      // call abort() at any time if you can't retrieve data somehow
      update(() => {
        if (val !== "") {
          search(val);
          // console.log(val);
        }
      });
    };
    const abortFilterFn = () => {
      // console.log('delayed filter aborted')
    };
    //*********************************** */

    const createAlumnoT = () =>
      store.dispatch("tutores/createAlumnoT", state.alumno);
    const handleCreateAlumnoT = async () => {
      $q.loading.show();
      const res = await createAlumnoT();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Alumno Tutorado Creado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    const updateAlumnoT = () =>
      store.dispatch("tutores/updateAlumnoT", state.alumno);
    const handleUpdateAlumnoT = async () => {
      $q.loading.show();
      const res = await updateAlumnoT();
      $q.loading.hide();
      if (res) {
        $q.notify({ ...successConfig, message: "Alumno Tutorado Actualizado" });
      } else {
        $q.notify({ ...errorConfig, message: "Ooops algo salio mal!" });
      }
    };
    return {
      ...toRefs(state),
      cuatri: ["1", "2", "3", "4", "5"],
      filterFn,
      abortFilterFn,
      handleCreateAlumnoT,
      handleUpdateAlumnoT,
      carreras,
      monitores,
    };
  },
});
</script>

<style scoped></style>
